{% extends "base.html" %}
{% block title %}
    Удаление видео
{% endblock %}
{% block content %}
    <h3 class="mt-4">Вы уверены, что хотите удалить это видео?</h3>
    <form action="" method="post" id="delete-form">
        {% csrf_token %}
        <button class="btn btn-primary mt-3" style="width: 100px">Да</button>
        <a href="#" class="btn btn-secondary mt-3 ms-5" style="width: 100px" id="cancel-button">Нет</a>
    </form>

    <script>
        document.getElementById("cancel-button").addEventListener("click", function(e) {
            e.preventDefault();
            {#Получаем URL предыдущей страницы#}
            let previousUrl = document.referrer;
            {#Если URL предыдущей страницы существует, идет редирект на нее#}
            if (previousUrl) {
                window.location.href = previousUrl;
            } else {
                {#В противном случае, редирект на индекс#}
                window.location.href = "{% url 'modules:index' %}";
            }
        });
    </script>
{% endblock %}