<form action="" method="post" class="my-3" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="id_video_title">Введите наименование видео:</label>
    <input type="text" id="id_video_title" name="video_title" required>

    <label for="id_video_description">Введите описание видео:</label>
    <textarea id="id_video_description" name="video_description"></textarea>

    <label for="id_video_file">Загрузите видео-файл:</label>
    <input type="file" id="id_video_file" name="video_file" required>
</form>