{% extends "base.html" %}
{% load static view_breadcrumbs %}
{% block title %}
    Редактировать занятие
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>
            <div class="col-md-9">

                {% block breadcrumbs %}
                    {% render_breadcrumbs %}
                {% endblock %}
                <h1>Обновление занятия</h1>
                <div class="container">
                    <div class="col" id="form-div">
                        {% for error in error_messages %}
                            <div class="alert alert-danger my-2" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                        {% include "partials/form.html" with button_text="Сохранить" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/step_update.js' %}"></script>
{% endblock %}
