{% extends 'moderator_page.html' %}
{% load view_breadcrumbs %}
{% block title %}Просмотр занятия{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card mb-5">
        <div class="card-body">
            <div class="card-header">
                <h1>{{ step.title }}</h1>
            </div>
            {% if step.video %}
                <h1>Видео:</h1>
                {% include 'steps/partial/video_partial.html' %}
            {% elif step.text %}
                <h1>Лекция:</h1>
                {% include 'steps/partial/text_partial.html' %}
            {% elif step.test %}
                <h1>Тест</h1>
                {% include 'steps/partial/test_partial.html' %}
            {% endif %}
            {% if files %}
                {% for file in files %}
                    <p>Файл {{ file.file_title }}</p>
                    <a href="{{ file.lesson_file.url }}" download class="btn btn-primary">Скачать Файл</a>
                {% endfor %}
            {% endif %}
            <div>
                <a href="{% url 'step:stepmodel_update' step.id %}" class="btn btn-primary my-2 me-3">Редактировать
                    занятие</a>
                <a href="{% url 'step:stepmodel_delete' step.id %}" class="btn btn-danger my-2 me-3">Удалить занятие</a>
                <a href="{% url 'modules:chaptermodel_detail' step.chapter.pk %}" class="btn btn-secondary">Вернуться
                    к списку занятий</a>
            </div>
        </div>
    </div>
{% endblock %}