{% extends "base.html" %}
{% block title %}
    Редактировать занятие
{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            <div class="form-group">
                <label for="id_title">{{ form.chapter.label }}</label>
                {{ form.chapter }}
            </div>

            <div class="form-group">
                <label for="id_title">{{ form.title.label }}</label>
                {{ form.title }}
            </div>

            <div class="form-group">
                <label for="id_file">Выберите файл</label>
                {{ form.file }}
            </div>

            <div id="file-inputs">
                <p>или</p>
                <label for="file-title">Введите наименование файла</label>
                <input type="text" name="file_title" id="file-title" class="form-control">
                <label for="lesson-file">Загрузите файл</label>
                <input type="file" name="lesson_file" id="lesson-file" class="form-control">
            </div>

            <div class="form-group">
                <label for="id_learn_time">{{ form.learn_time.label }}</label>
                {{ form.learn_time }}
            </div>

            <div class="form-group">
                <label for="id_lesson_type">{{ form.lesson_type.label }}</label>
                {{ form.lesson_type }}
            </div>

            <div id="text_content" style="display: none;">
                <div class="form-group">
                    <label for="id_text">Выберите текст</label>
                    {{ form.text }}
                </div>

                <div id="text-form" class="content-form">
                    <p>или</p>
                    <label for="text_title">Введите наименование текста</label>
                    <input type="text" name="text_title" class="form-control">
                    <label for="text_description">Введите описание текста</label>
                    <input type="text" name="text_description" class="form-control">
                    <label for="content">Заполните текст занятия</label>
                    <textarea name="content" class="form-control"></textarea>
                </div>
            </div>

            <div id="video_content" style="display: none;">
                <div class="form-group">
                    <label for="id_video">Выберите видео</label>
                    {{ form.video }}
                </div>
                <div id="video-form" class="content-form">
                    <p>или</p>
                    <label for="video_title">Введите наименование видео</label>
                    <input type="text" name="video_title" class="form-control">
                    <label for="video_description">Введите описание видео</label>
                    <input type="text" name="video_description" class="form-control">
                    <label for="">Загрузите видео-файл</label>
                    <input type="file" name="video_file" class="form-control">
                </div>
            </div>

            <div id="test_content" style="display: none;">
                <div class="form-group">
                    <label for="id_test">Выберите тест</label>
                    {{ form.test }}
                </div>
                <div id="test-form" class="content-form">
                    <p>или</p>
                    {#                    форма для теста#}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Редактировать занятие</button>
        </form>
    </div>
    <script>
        const textContent = document.getElementById("text_content");
        const videoContent = document.getElementById("video_content");
        const testContent = document.getElementById("test_content");
        const lessonType = document.getElementById("id_lesson_type");
        const textSelect = document.getElementById("id_text");
        const videoSelect = document.getElementById("id_video");
        const testSelect = document.getElementById("id_test");
        const textForm = document.getElementById("text-form");
        const videoForm = document.getElementById("video-form");
        const testForm = document.getElementById("test-form");

        function handleSelectChange(select, form) {
            if (select.value) {
                form.style.display = "none";
            } else {
                form.style.display = "block";
            }
        }

        function clearInputsInDiv(div) {
            const inputElements = div.getElementsByTagName('input');
            const selectElements = div.getElementsByTagName('select');

            for (let i = 0; i < inputElements.length; i++) {
                inputElements[i].value = '';
            }
            for (let i = 0; i < selectElements.length; i++) {
                selectElements[i].value = '';
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            handleSelectChange(textSelect, textForm);
            handleSelectChange(videoSelect, videoForm);
            handleSelectChange(testSelect, testForm);

            function handleLessonTypeChange() {
                if (lessonType.value === "text") {
                    textContent.style.display = "block";
                    videoContent.style.display = "none";
                    testContent.style.display = "none";
                    clearInputsInDiv(videoContent, testContent)
                } else if (lessonType.value === "video") {
                    textContent.style.display = "none";
                    videoContent.style.display = "block";
                    testContent.style.display = "none";
                    clearInputsInDiv(textContent, testContent)
                } else if (lessonType.value === "test") {
                    textContent.style.display = "none";
                    videoContent.style.display = "none";
                    testContent.style.display = "block";
                    clearInputsInDiv(videoContent, textContent)
                }
            }

            handleLessonTypeChange();

            lessonType.addEventListener("change", handleLessonTypeChange);

            textSelect.addEventListener("change", function () {
                handleSelectChange(textSelect, textForm);
            });

            videoSelect.addEventListener("change", function () {
                handleSelectChange(videoSelect, videoForm);
            });

            testSelect.addEventListener("change", function () {
                handleSelectChange(testSelect, testForm);
            });
        });
    </script>
{% endblock %}
