{% extends "base.html" %}
{% load static view_breadcrumbs %}
{% block title %}
    Добавить занятие
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>
            <div class="col-md-9">
                {% block breadcrumbs %}
                    {% render_breadcrumbs %}
                {% endblock %}
                <h1>Создание задания</h1>
                <div class="container">
                    <div class="col">
                        {% include "partials/form.html" with button_text="Создать" create_quiz_text="Создать вопросы" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src={% static "js/step_create.js" %}></script>
{% endblock %}
