{% extends "static_pages/base.html" %}
{% load static %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block page_header %}
    <div class="page-header min-vh-80" style="background-image: url('{% static 'img/page-header-bg4.png' %}')">
        <span class="mask bg-dark-blue-crayol opacity-1"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="text-center">
                        <h1 class="text-white">Политика конфиденциальности</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="pt-3 pt-md-5 pb-md-5 pt-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-lg-0 mb-5 mt-8 mt-md-5 mt-lg-0">
                    <ul class="nav flex-column bg-white border-radius-lg p-3 position-sticky top-10 shadow-lg">
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll=""
                               href="#general-terms">
                                <i class="material-icons text-dark opacity-5 pe-2">widgets</i>
                                General Terms
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#cookies">
                                <i class="material-icons text-dark opacity-5 pe-2">cookie</i>
                                Cookies
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#license">
                                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                                License
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#hyperlinking">
                                <i class="material-icons text-dark opacity-5 pe-2">insert_link</i>
                                Content
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#disclaimer">
                                <i class="material-icons text-dark opacity-5 pe-2">wysiwyg</i>
                                Disclaimer
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="card shadow-lg mb-5">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                            <div class="bg-azure-crayola shadow-primary border-radius-lg p-3">
                                <h3 class="text-white mb-0">Политика конфиденциальности</h3>
                                <p class="text-white opacity-8 mb-0">Last modified: Aug 27 2021</p>
                            </div>
                        </div>
                        <div class="card-body p-5">
                            <p id="general-terms">Welcome to AccessibleBIM</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, suscipit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque deserunt earum illum nam nihil nobis quasi repudiandae sed sint.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, libero quae. A accusamus atque cum delectus eveniet magnam natus odio omnis quasi quibusdam reiciendis, sapiente, voluptas voluptatem! Dicta eaque enim eos est in incidunt inventore ipsa molestiae quibusdam reiciendis. A animi corporis distinctio facilis incidunt molestias necessitatibus quam quo soluta temporibus. Asperiores autem, incidunt nostrum nulla obcaecati tenetur vero. Commodi earum esse excepturi nemo quo. Ab accusamus alias animi aperiam autem ducimus eius eligendi enim error et eveniet fuga, in inventore iure magni molestias neque nesciunt nisi non obcaecati perferendis placeat possimus qui quo quod recusandae vel! Dolor, explicabo minus.</p>
                            <h3 class="mt-5 mb-3" id="cookies">Cookies</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, fugit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem enim reiciendis reprehenderit sint vitae? Accusamus dolorum expedita inventore ipsum nobis numquam provident quaerat quam repudiandae tenetur. Aliquid at aut consequuntur, dolores ipsum iste optio provident, quaerat ratione sint tempora voluptate.</p>
                            <h3 class="mt-5 mb-3" id="license">License</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias at, aut dolor doloribus eius ex hic nisi possimus quos recusandae reiciendis rem repudiandae sapiente similique sit tempora tempore tenetur totam ullam! Consequuntur esse id maiores minima. Aliquid at deserunt dicta mollitia necessitatibus numquam repellat. Asperiores inventore tempora vel voluptate.</p>
                            <p>You must not:</p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aliquam, aperiam at dolore dolorum eaque enim excepturi, exercitationem id illo illum ipsa laborum laudantium libero magni maiores mollitia nam natus nihil nisi obcaecati officia quaerat quasi quia reiciendis suscipit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquam corporis dignissimos distinctio doloremque incidunt labore magni minima modi porro, quae quas quis suscipit vel voluptas voluptatum. Accusamus aliquam consectetur error et excepturi expedita facilis fugit illum itaque magnam nisi nobis non, pariatur praesentium quia ratione rem reprehenderit saepe soluta suscipit unde veniam vero. Ab ad adipisci atque beatae consequatur consequuntur, debitis dicta dolore earum explicabo harum incidunt ipsum odio rem repellendus totam vero voluptate. Consectetur consequuntur laborum temporibus?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda earum excepturi laborum nemo possimus, quasi vitae? Autem consectetur consequatur culpa deserunt doloribus est, eum, nisi quod repellat vel vitae?</p>
                            <p>Lorem ipsum dolor sit amet:</p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore explicabo officiis quaerat quo sint? Praesentium;
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore ducimus iusto mollitia non sed similique voluptatibus;
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos earum eligendi esse exercitationem harum, nihil unde;
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, iure, tempora? Debitis eaque earum iusto maxime voluptas voluptatem voluptatibus?
                                </li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, iste quaerat. Aliquid animi architecto assumenda aut commodi debitis esse eveniet expedita iusto labore, laudantium minus molestiae, numquam omnis perferendis quasi quibusdam quidem repudiandae sit temporibus?</p>
                            <h3 class="mt-5 mb-3" id="hyperlinking">Content Liability</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cumque nobis omnis quia, rem velit.:</p>
                            <ul>
                                <li>Lorem ipsum.;</li>
                                <li>Ipsum lorem;</li>
                                <li>Dolor sit amet;</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis dicta enim eveniet nostrum officiis praesentium saepe tenetur voluptatibus; and
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam, consequuntur corporis deserunt eius nesciunt nisi nobis numquam, odio omnis quia, reiciendis saepe temporibus voluptate!
                                </li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius leo auctor, dictum orci a, viverra mi. Fusce congue justo et nibh auctor, nec fermentum libero luctus. In hac habitasse platea dictumst. Vestibulum vel massa massa. Suspendisse potenti. Sed ultricies lacus in orci congue, at fringilla metus suscipit. Cras scelerisque dolor ac quam pellentesque, id ultrices purus tincidunt.</p>
                            <p>Maecenas iaculis ipsum nec lorem cursus, eget commodo velit tristique. Praesent nec mauris et odio dapibus hendrerit eu vel ante. Sed dictum nisi at libero semper auctor. Aenean feugiat vitae lectus in sollicitudin. Integer ac nisi a ligula convallis sagittis. Ut euismod tortor vel turpis eleifend bibendum. Sed in magna nec sem bibendum laoreet.</p>
                            <ul>
                                <li>Nullam varius leo auctor, dictum orci a, viverra mi.</li>
                                <li>Fusce congue justo et nibh auctor, nec fermentum libero luctus.</li>
                                <li>Maecenas iaculis ipsum nec lorem cursus, eget commodo velit tristique.</li>
                                <li>Ut euismod tortor vel turpis eleifend bibendum.</li>
                                <li>Sed in magna nec sem bibendum laoreet.</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius leo auctor, dictum orci a, viverra mi. Fusce congue justo et nibh auctor, nec fermentum libero luctus. In hac habitasse platea dictumst. Vestibulum vel massa massa. Suspendisse potenti. Sed ultricies lacus in orci congue, at fringilla metus suscipit. Cras scelerisque dolor ac quam pellentesque, id ultrices purus tincidunt.</p>
                            <p>Maecenas iaculis ipsum nec lorem cursus, eget commodo velit tristique. Praesent nec mauris et odio dapibus hendrerit eu vel ante. Sed dictum nisi at libero semper auctor. Aenean feugiat vitae lectus in sollicitudin. Integer ac nisi a ligula convallis sagittis. Ut euismod tortor vel turpis eleifend bibendum. Sed in magna nec sem bibendum laoreet.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius leo auctor, dictum orci a, viverra mi. Fusce congue justo et nibh auctor, nec fermentum libero luctus. In hac habitasse platea dictumst. Vestibulum vel massa massa. Suspendisse potenti. Sed ultricies lacus in orci congue, at fringilla metus suscipit. Cras scelerisque dolor ac quam pellentesque, id ultrices purus tincidunt.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius leo auctor, dictum orci a, viverra mi. Fusce congue justo et nibh auctor, nec fermentum libero luctus. In hac habitasse platea dictumst. Vestibulum vel massa massa. Suspendisse potenti. Sed ultricies lacus in orci congue, at fringilla metus suscipit. Cras scelerisque dolor ac quam pellentesque, id ultrices purus tincidunt.</p>
                            <ul>
                                <li>Nullam varius leo auctor, dictum orci a, viverra mi.</li>
                                <li>Fusce congue justo et nibh auctor, nec fermentum libero luctus.</li>
                                <li>Maecenas iaculis ipsum nec lorem cursus, eget commodo velit tristique.</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, adipisci alias delectus exercitationem quasi quod..</p>
                            <h3 class="mt-5 mb-3">Your Privacy</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eos pariatur quia quisquam, suscipit tenetur.</p>
                            <h3 class="mt-5 mb-3">Reservation of Rights</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias beatae commodi consequatur eaque eius esse facere, harum id laboriosam, libero magnam molestiae neque odit sapiente unde veritatis voluptas voluptates voluptatum. Accusantium alias animi beatae corporis dolorem eos harum, ipsam iste laboriosam laborum odio officia praesentium provident quas rerum sapiente tempora, unde voluptas voluptate.</p>
                            <h3 class="mt-5 mb-3" id="disclaimer">Disclaimer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius leo auctor, dictum orci a, viverra mi. Fusce congue justo et nibh auctor, nec fermentum libero luctus. In hac habitasse platea dictumst. Vestibulum vel massa massa. Suspendisse potenti. Sed ultricies lacus in orci congue, at fringilla metus suscipit. Cras scelerisque dolor ac quam pellentesque, id ultrices purus tincidunt.</p>
                            <ul>
                                <li>Nullam varius leo auctor, dictum orci a, viverra mi.</li>
                                <li>Fusce congue justo et nibh auctor, nec fermentum libero luctus.</li>
                                <li>Maecenas iaculis ipsum nec lorem cursus, eget commodo velit tristique.</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius leo auctor, dictum orci a, viverra mi. Fusce congue justo et nibh auctor, nec fermentum libero luctus. In hac habitasse platea dictumst. Vestibulum vel massa massa. Suspendisse potenti. Sed ultricies lacus in orci congue, at fringilla metus suscipit. Cras scelerisque dolor ac quam pellentesque, id ultrices purus tincidunt.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius leo auctor, dictum orci a, viverra mi. Fusce congue justo et nibh auctor, nec fermentum libero luctus. In hac habitasse platea dictumst. Vestibulum vel massa massa. Suspendisse potenti. Sed ultricies lacus in orci congue, at fringilla metus suscipit. Cras scelerisque dolor ac quam pellentesque, id ultrices purus tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
