{% extends "base.html" %}
{% block title %}
    Удаление текста
{% endblock %}
{% block content %}
    {% if perms.step.delete_textmodel %}
        <div class="container">
            <h3 class="mt-4">Вы уверены, что хотите удалить этот текст?</h3>
            <form action="" method="post" id="delete-form">
                {% csrf_token %}
                <button class="btn btn-primary mt-3" style="width: 100px">Да</button>
                <a href="#" class="btn btn-secondary mt-3 ms-5" style="width: 100px" id="cancel-button">Нет</a>
            </form>
        </div>
    {% endif %}
    <script>
        document.getElementById("cancel-button").addEventListener("click", function (e) {
            e.preventDefault();
            {#Получаем URL предыдущей страницы#}
            let previousUrl = document.referrer;
            {#Если URL предыдущей страницы существует, идет редирект на нее#}
            if (previousUrl) {
                window.location.href = previousUrl;
            } else {
                {#В противном случае, редирект на индекс#}
                window.location.href = "{% url 'modules:index' %}";
            }
        });
    </script>
{% endblock %}