{% extends 'moderator_page.html' %}
{% load static view_breadcrumbs %}
{% block title %}Удалить текст{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card">
        <div class="card-body">
            {% if steps %}
                <h5 class="card-text">Данный текст используется в следующих занятиях:</h5>
                {% for step in steps %}
                    <a href="{% url "step:stepmodel_update" step.id %}">{{ step.title }}</a>
                    </br>
                {% endfor %}
                <h5 class="card-text my-2">Для удаления данного текста необходимо в указанных выше занятиях выбрать
                    другой текст.</h5>
            {% else %}
                <p class="card-text">Вы точно хотите удалить текст:<span
                        class="text-danger"> {{ textmodel.text_title }}</span>?
                </p>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="delete" class="btn btn-danger me-4" value="yes">Да</button>
                    <a href="#" class="btn btn-secondary
                    mx-3" id="cancel-button">Нет</a>
                </form>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/delete_button_func.js' %}"></script>
{% endblock %}