{% extends 'moderator_page.html' %}
{% load view_breadcrumbs %}
{% block title %}Редактировать текст{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    {% if perms.step.add_textmodel %}
        <div class="card mb-5">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <div class="container my-5 text-center">
                        <div class="card-header">
                            <h2>Редактирование текста:</h2>
                        </div>
                        <div class="d-flex justify-content-center">
                            {% include "partials/form.html" with button_text="Редактировать текст" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}