{% extends 'moderator_page.html' %}
{% load i18n %}
{% load view_breadcrumbs %}
{% block title %}{% trans 'View reading' %}{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    {% if request.user.is_authenticated %}
        <div class="card mb-5">
            <div class="card-body">
                <div class="card-header">
                    <h1>{{ text.text_title }}</h1>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>{{ text.text_title }}</h3>
                    </li>
                    <li class="list-group-item">
                        <h4>{% trans 'Description' %}:</h4>
                        <p class="text-description">{{ text.text_description | safe }}</p>
                    </li>
                    <li class="list-group-item">
                        <div class="text-body">
                            <h4>{% trans 'Content' %}:</h4>
                            {{ text.content | safe }}
                        </div>
                    </li>
                </ul>
                </br>
                <a href="{% url 'step:textmodel_update' text.id %}" class="btn btn-primary me-2">{% trans 'Edit' %}</a>
                <a href="{% url 'step:textmodel_delete' text.id %}" class="btn btn-danger me-2">{% trans 'Delete' %}</a>
                <a href="{% url 'step:textmodel_list' %}" class="btn btn-secondary">{% trans 'Back to readings list' %}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}