<div class="accordion" id="accordionExample">
{% for chapter in chapters|dictsort:"serial_number" %}
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Раздел {{ chapter.serial_number }}: {{ chapter.title }}
      </button>
    </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
              {% for step in chapter.step.all %}
                <p>{{ step.title }}</p>
             {% endfor %}
          </div>
        </div>
    </div>
 {% endfor %}
</div>