{% extends 'base.html' %}
{% load view_breadcrumbs %}
{% block title %}Список учителей{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>
            <div class="col-md-9">
                {% block breadcrumbs %}
                    {% render_breadcrumbs %}
                {% endblock %}
                <h1>Список учителей</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>ФИО</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td>{{ teacher.id }}</td>
                            <td><a href="{% url 'modules:teachermodel_detail' teacher.id %}">{{ teacher.first_name }}
                                {{ teacher.last_name }}
                            </a></td>
                            <td>
                                <a href="{% url 'modules:teachermodel_update' teacher.id %}" class="btn btn-info btn-sm">Изменить</a>
                                <a href="{% url 'modules:teachermodel_delete' teacher.id %}" class="btn btn-danger
                                btn-sm">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}