{% load i18n %}
<h4 class="text-center heading">{% trans 'Filters' %}:</h4>
<form method="get">
    <div class="row justify-content-around mt-4 mb-4">

        <div class="col-md-12 col-lg-4">
            <h5 class="content">{% trans 'Module' %}:</h5>
            <div id="modules" class="content">
                <multiple-select-modules inline-template>
                    <select-2 :options="optionsModules" name="modules" v-model="selected"
                              multiple=true></select-2>
                </multiple-select-modules>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <h5 class="content">{% trans 'Target audience' %}:</h5>
            <div id="targets" class="content">
                <multiple-select-targets inline-template>
                    <select-2 :options="optionsTargets" name="targets" v-model="selected" multiple=true></select-2>
                </multiple-select-targets>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <h5 class="content">{% trans 'Language' %}:</h5>
            <div id="languages" class="content">
                <multiple-select-language inline-template>
                    <select-2 :options="optionsLanguage" name="languages" v-model="selected"
                              multiple=true></select-2>
                </multiple-select-language>
            </div>

        </div>

        {{ selected_modules|json_script:"selected_modules" }}
        {{ selected_targets|json_script:"selected_targets" }}
        {{ selected_languages|json_script:"selected_languages" }}
        {{ course_targets|json_script:"course_targets_dict" }}
        {{ modules|json_script:"modules_dict" }}
        {{ languages|json_script:"languages_dict" }}
        <button type="submit" class="btn btn-info mt-4 content">{% trans 'Search' %}</button>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      let elements = document.querySelectorAll('.select2-container--bootstrap .select2-selection--multiple ' +
            '.select2-search--inline .select2-search__field');
      elements.forEach(function (element) {
        element.style.minWidth = '1em';
      });
    });
  </script>

