{% load static %}

<div class="page-header min-vh-80" style="background-image: url('{% static 'img/page-header-bg1.jpg' %}')">
    <span class="mask bg-dark-blue-crayol opacity-1"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h1 class="text-white">{{ title }}</h1>
                    <h3 class="text-white">{{ sub_title }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>