{% load i18n %}
{% load static %}

<nav class="navbar position-fixed top-0 navbar-expand-lg bg-info navbar-transparent text-white z-index-3 w-100 shadow-none">
    <div class="container">
        <a class="navbar-brand text-white fs-4" href="{% url "front:accessible_bim" %}">
            AccessibleBIM
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item mx-2">
                    <a href="{% url "front:course_user_list" %}"
                       class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       role="button">
                        Курсы
                    </a>
                </li>
                <div class="dropdown">
                    <a href="#" class="btn text-white bg-transparent dropdown-toggle m-0" data-bs-toggle="dropdown"
                       id="navbarDropdownMenuLink2">
                        О компании
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <li>
                            <a class="dropdown-item" href="{% url "front:about" %}">
                                О нас
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url "front:contacts" %}">
                                Контакты
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url "front:privacy_policy" %}">
                                Политика конфиденциальности
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url "front:terms_of_use" %}">
                                Пользовательское соглашение
                            </a>
                        </li>
                    </ul>
                </div>
                {% if request.user.is_authenticated %}
                    {% if perms.accounts.can_view_admin_panel %}
                        <li class="nav-item mx-2">
                            <a href="{% url "modules:moderator_page" %}"
                               class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                               role="button">
                                Админ панель
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item mx-2">
                        <a href="{% url "accounts:profile" %}"
                           class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                           role="button">
                            Профиль
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="{% url "accounts:logout" %}"
                           class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                           role="button">
                            Выйти
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item mx-2">
                        <a href="{% url "accounts:login" %}"
                           class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                           role="button">
                            Войти
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="{% url "accounts:register" %}"
                           class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                           role="button">
                            Регистрация
                        </a>
                    </li>
                {% endif %}
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <li class="nav-item mx-2"><div class="dropdown">
                    <a href="#" class="btn text-white bg-transparent dropdown-toggle m-0 " data-bs-toggle="dropdown"
                       id="navbarDropdownMenuLink2">
                        {% for language in languages %}
                            {% if language.code == LANGUAGE_CODE %}
                                {% if language.code == "ru" %}
                                    <span class="flag-icon flag-icon-ru"></span>
                                {% elif language.code == "en" %}
                                    <span class="flag-icon flag-icon-gb"></span>
                                {% endif %}
                                {{ language.name_local }}
                            {% endif %}
                        {% endfor %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <li>{% for language in languages %}
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                <input name="language" type="hidden" value="{{ language.code }}">
                                <button class="dropdown-item" type="submit">
                                    {% if language.code == "ru" %}
                                        <span class="flag-icon flag-icon-ru"></span>
                                    {% elif language.code == "en" %}
                                        <span class="flag-icon flag-icon-gb"></span>
                                    {% endif %}
                                    {{ language.name_local }}
                                </button>
                            </form>
                        {% endfor %}</li>
                    </ul>
                </div></li>
            </ul>
        </div>
    </div>
</nav>