{% load i18n %}
{% load static %}

<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent">
    <div class="container">
        <a class="navbar-brand  text-white " href="{% url "static_pages:accessible_bim" %}">
            AccessibleBIM
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item mx-2">
                    <a href="{% url "accounts:login" %}"
                       class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       role="button">
                        Войти
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{% url "accounts:register" %}"
                       class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       role="button">
                        Регистрация
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{% url "static_pages:course_user_list" %}"
                       class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       role="button">
                        Курсы
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{% url "static_pages:about" %}"
                       class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       role="button">
                        О нас
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{% url "static_pages:contacts" %}"
                       class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       role="button">
                        Контакты
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{% url "static_pages:privacy_policy" %}"
                       class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       role="button">
                        Политика конфиденциальности
                    </a>
                </li>
            </ul>
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary btn-sm icon icon-shape"><i class="bi bi-arrow-right"></i></i></button>
            </form>
        </div>
    </div>
</nav>