<div class="card mb-3 border-0">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div>
                        <h5>{{ data.title }}</h5>
                        <div>
                            <p>{{ data.description }}</p>
                        </div>
                    </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div>
                        <img class="img-fluid" src="{{ data.image.url }}" alt="">
                    </div>
            </div>
        </div>
    </div>
</div>