{% extends 'moderator_page.html' %}
{% load static %}
{% block moderator_interface %}
    <div class="card">
        <div class="card-header">
            <h1>Инструкция по редактированию контента</h1>
        </div>
        <div class="card-body">
            {% include "instructions/intro.html" %}
            <div class="accordion mb-4" id="main-accordion">
                {% include "instructions/scheme.html" %}
                {% include "instructions/module.html" %}
                {% include "instructions/teachers.html" %}
                {% include "instructions/course_target.html" %}
                {% include "instructions/course.html" %}
            </div>
            <a href="{% static "files/Инструкция.pdf" %}">Скачать инструкцию</a>
        </div>
    </div>
{% endblock %}
