{% extends 'moderator_page.html' %}
{% block moderator_interface %}
    <h1>Инструкция по редактированию контента</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto autem blanditiis cum
        distinctio dolor ducimus eius ex fuga hic illum incidunt laborum, magni maiores maxime mollitia
        nihil nulla officia, possimus quam ratione recusandae sint tempore veritatis voluptates.
        Adipisci
        atque distinctio dolorem fuga, id iusto molestias omnis quibusdam soluta tenetur.</p>
{% endblock %}
