{% load static crispy_forms_filters %}

<form action="" id="main-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% for field in form %}
        <div class="mb-3" id="{{ field.name }}">
            <div class="my-3">
                {{ field|as_crispy_field }}
            </div>
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
</form>