<div class="d-inline-block">
<h3>Фильтр</h3>
    {% csrf_token %}
    <form method="get">
        <h5>Модуль</h5>
            {% for module in modules %}
                <input type="checkbox" id="module{{ module.pk }}" name="modules" value="{{ module.title }}" {% if module.title in selected_modules %}checked{% endif %}>
                <label for="module{{ module.pk }}">{{ module.title }}</label><br>
            {% endfor %}
        <h5>Целевая аудитория</h5>
            {% for target in course_targets %}
                <input type="checkbox" id="target{{ target.pk }}" name="targets" value="{{ target.title }}" {% if target.title in selected_targets %}checked{% endif %}>
                <label for="module{{ target.pk }}">{{ target.title }}</label><br>
            {% endfor %}
        <h5>Язык обучения</h5>
                <input type="checkbox" id="language1" name="languages" value="RU" {% if "RU" in selected_languages %}checked{% endif %}>
                <label for="language1">Русский</label><br>
                <input type="checkbox" id="language2" name="languages" value="EN" {% if "EN" in selected_languages %}checked{% endif %}>
                <label for="language2">Английский</label><br>
                <input type="checkbox" id="language3" name="languages" value="KG" {% if "KG" in selected_languages %}checked{% endif %}>
                <label for="language3">Кыргызский</label><br>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>
</div>