{% extends "front/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block content %}
    <div class="min-vh-25 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card-group d-block d-md-flex row">
                        <div class="card col-md-7 p-4 mb-0">
                            <h3>{% trans 'Password reset email sent' %}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}