{% extends "front/base.html" %}
{% load i18n widget_tweaks %}

{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block page_nav %}
    {% include 'front/partials/navbar.html' with text="text-dark" %}
{% endblock %}
{% block page_header %}{% endblock %}
{% block content %}

    <div class="min-vh-50 d-flex flex-row align-items-center">
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card mb-4 mx-4">
                        <div class="card-body p-4">
                            {% if validlink %}
                                <h3>{% trans 'Change password' %}</h3>
                                <form method="POST">
                                    {% csrf_token %}
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
                                    {% for field in form %}
                                        {% if field.field.required %}
                                            <label class="form-label">{{ field.label }}*</label>
                                        {% else %}
                                            <label class="form-label">{{ field.label }}</label>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger text-white" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                        <div class="input-group input-group-outline">
                                            {{ field|attr:"class:form-control" }}
                                        </div>
                                    {% endfor %}
                                    <button class="btn btn-outline-primary mt-3"
                                            role="button">{% trans 'Save changes' %}</button>
                                </form>

                            {% else %}
                                <h3 class="text-dark">{% trans 'Invalid password reset link' %}</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}