{% extends 'moderator_page.html' %}
{% load view_breadcrumbs %}
{% block title %}Список тестов{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card mb-5">
        <div class="card-body">
            <div class="card-header">
                <h2>Список тестов</h2>
            </div>
            <a class="btn btn-primary my-3" href="{% url "quiz_bim:quizbim_create" %}">Добавить тест</a>
            <ul class="list-group">
                {% for test in tests %}
                    <li class="list-group-item my-3">
                        <h5 class="card-title">{{ test.title }}</h5>
                        <a class="btn btn-primary" href="{% url 'quiz_bim:take_quiz' pk=test.pk %}"
                           role="button">Прохождение теста</a>
                        <a class="btn btn-primary" href="{% url 'quiz_bim:quizbim_detail' pk=test.pk %}"
                           role="button">Подробнее</a>
                        <a class="btn btn-primary" href="{% url 'quiz_bim:quizbim_update' pk=test.pk %}"
                           role="button">Редактировать</a>
                        <a class="btn btn-danger" href="{% url 'quiz_bim:quizbim_delete' pk=test.pk %}"
                           role="button">Удалить</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}