{% extends 'base.html' %}
{% load view_breadcrumbs %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>
            <div class="col-md-9">
                {% block breadcrumbs %}
                    {% render_breadcrumbs %}
                {% endblock %}
                <h3>Тест "{{ test.title }}"</h3>
                <h4>Количестов вопросов: {{ test.questions_qty }}</h4>

                <a class="btn btn-primary" hx-get="{% url 'quiz_bim:questionbim_htmx_create' %}"
                   hx-target="#questionforms" hx-swap="beforeend" role="button">Добавить новый вопрос</a>
                <a class="btn btn-primary" href="{% url 'quiz_bim:take_test' pk=test.pk %}" role="button">Прохождение
                    теста</a>
                <a class="btn btn-primary" href="{% url 'quiz_bim:quizbim_update' pk=test.pk %}" role="button">Редактировать</a>
                <a class="btn btn-danger" href="{% url 'quiz_bim:quizbim_delete' pk=test.pk %}"
                   role="button">Удалить</a>

                <div id="questionforms" class="col"></div>

                <div class="mt-5 py-5 border-t border-gray-100">
                    {% for question in questions %}
                        {% include "quiz_bim/question_bim/question_bim_detail.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}