{% extends 'moderator_page.html' %}
{% load view_breadcrumbs %}
{% load  static %}
{% block title %}{{ test.title }}{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card">
        <div class="card-body">
            <div class="card-header"><h3>Тест "{{ test.title }}"</h3>
                <h4 id="questions_qty">Количестов вопросов: {{ test.questions_qty }}</h4>
            </div>
            <a class="btn btn-primary mx-2 my-3" hx-get="{% url 'quiz_bim:questionbim_htmx_create' %}"
               hx-target="#questionforms" hx-swap="beforeend" role="button" id="create_question">Добавить новый
                вопрос</a>
            <a class="btn btn-primary mx-2" href="{% url 'quiz_bim:take_quiz' pk=test.pk %}"
               role="button">Прохождение
                теста</a>
            <a class="btn btn-primary mx-2" href="{% url 'quiz_bim:quizbim_update' pk=test.pk %}"
               role="button">Редактировать</a>
            <div id="questionforms" class="col"></div>
            <div class="questions-container">
                {% for question in questions %}
                    <div id="question_block_{{ forloop.counter }}" class="question-block">
                        {% include "quiz_bim/question_bim/question_bim_detail.html" %}
                    </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center my-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination-block">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="{% static "js/questions_pagination.js" %}"></script>
{% endblock %}