{% extends 'moderator_page.html' %}
{% load static view_breadcrumbs %}
{% block title %}Удалить тест{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card">
        <div class="card-body">
            {% if steps %}
                <h5 class="card-text">Данный тест используется в следующих занятиях:</h5>
                {% for step in steps %}
                    {{ step.title }}
                    </br>
                {% endfor %}
                <h5 class="card-text my-2">Для удаления данного теста необходимо в указанных выше занятиях выбрать
                    другой тест.</h5>
            {% endif %}
            <p class="card-text">Вы точно хотите удалить тест:<span
                    class="text-danger"> {{ test.title }}</span>?
            </p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="delete" class="btn btn-danger me-4" value="yes">Да</button>
                <a href="#" class="btn btn-secondary
                    mx-3" id="cancel-button">Нет</a>
            </form>
        </div>
    </div>
    <script src="{% static 'js/delete_button_func.js' %}"></script>
{% endblock %}