{% extends 'base.html' %}
{% load shuffle %}
{% block title %}Тест{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2>{{ quiz_title }}</h2>
        {% for question in questions|shuffle %}
            <div class="card mb-3">
            <div class="card-body">
                <p class="lead">{{ question.title }}</p>
                {% for answer in question.answer_bim.all|shuffle %}
                    <div class="form-check">
                        {% if answer.id in user_answers_id %}
                            <input checked class="form-check-input answer-radio" type="radio" id="answer-{{ answer.id }}" name="question-{{ question.id }}" value="{{ answer.id }}">
                        {% else %}
                            <input class="form-check-input answer-radio" type="radio" id="answer-{{ answer.id }}" name="question-{{ question.id }}" value="{{ answer.id }}">
                        {% endif %}
                        <label class="form-check-label" for="answer-{{ answer.id }}">
                            {{ answer.answer }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary" form="form-test-result">Завершить тест</button>
        <form id="form-test-result" action="{% url "quiz_bim:test_result" progress_test_id %}" method="post">
            {% csrf_token %}
        </form>
    </div>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function onClick(event) {
            let url = "{% url "quiz_bim:user_answer" progress_test_id %}"
            let data = {
                "answer_id": event.target.value,
            }
            fetch(url, {
                method: "post",
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify(data)
            })
        }

        function debounce(func, timeout = 300) {
            let timer;
            return (...args) => {
                clearTimeout(timer);
                timer = setTimeout(() => {
                    func.apply(this, args);
                }, timeout);
            };
        }

        function onLoad() {
            let radioButtons = document.getElementsByClassName("answer-radio");
            let debounceClick = debounce(onClick)

            for (let button of radioButtons) {
                button.addEventListener("click", debounceClick)
            }
        }

        window.addEventListener("load", onLoad)
    </script>
{% endblock %}