{% extends "base.html" %}
{% block content %}
    <div class="container-fluid bg-dark text-white text-center py-5">
        <h1>Страница выдачи модераторов</h1>
    </div>
    <div class="container">
        <form class="d-flex mt-4" role="search">
            <input class="form-control me-2" type="search" placeholder="Поиск по Email адресу" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <hr style="margin: 35px 0;">
        <form method="post">
            {% csrf_token %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Email</th>
                    <th scope="col">Роль</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><input class="form-check-input mt-0" type="checkbox" name="users" value="{{ user.id }}">
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.is_moderator %}
                                Модератор
                            {% else %}
                                Пользователь
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <input formaction="{% url 'accounts:grant_moderators' %}" type="submit" class="btn btn-primary" value="Выдать">
            <input formaction="{% url 'accounts:remove_moderators' %}"  type="submit" class="btn btn-primary" value="Убрать">
        </form>
    </div>
{% endblock %}