{% extends 'moderator_page.html' %}
{% load view_breadcrumbs %}

{% block title %}Создать главу{% endblock %}

{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h2>Страница выдачи прав модератора</h2>
            </div>
            <form action="{% url "accounts:grant_moderator_panel" %}" method="get" class="d-flex mt-4" role="search">
                <input class="form-control me-2" type="search" name="search" placeholder="Поиск по Email адресу"
                       aria-label="Search" value="{{ search_query }}">
                <button class="btn btn-outline-info" type="submit">Найти</button>
            </form>
            <hr style="margin: 35px 0;">
            <form method="post">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Email</th>
                                <th scope="col">Роль</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td><input class="form-check-input mt-0" type="checkbox" name="users" value="{{ user.id }}"></td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        {% if user.is_moderator %}
                                            Модератор
                                        {% else %}
                                            Пользователь
                                        {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3">Нет пользователей</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if search_query %}
                    <div class="d-flex justify-content-end">
                        <input formaction="{% url 'accounts:grant_moderators' %}?next={{ request.path }}?search={{ search_query }}"
                               type="submit" class="btn btn-primary me-3" value="Выдать">
                        <input formaction="{% url 'accounts:remove_moderators' %}?next={{ request.path }}?search={{ search_query }}"
                               type="submit" class="btn btn-danger" value="Убрать">
                    </div>
                {% else %}
                    <div class="d-flex justify-content-end">
                        <input formaction="{% url 'accounts:grant_moderators' %}" type="submit" class="btn btn-primary me-3"
                               value="Выдать">
                        <input formaction="{% url 'accounts:remove_moderators' %}" type="submit" class="btn btn-danger"
                               value="Убрать">
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
