{% load crispy_forms_filters %}
{% load static %}
{% load socialaccount %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans 'Login' %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/coreui.min.css' %}">
</head>
<body>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card-group d-block d-md-flex row">
                    <div class="card col-md-7 p-4 mb-0">
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <h1>{% trans 'Login' %}</h1>
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                {% else %}
                                    <p class="text-medium-emphasis">Sign In to your account</p>
                                {% endif %}
                                {{ form.username|as_crispy_field }}
                                {{ form.password|as_crispy_field }}
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-primary px-4" type="submit">Login</button>
                                    </div>
                                    <div class="col-6 text-end">
                                        <a href="{% url 'accounts:password_reset' %}" class="btn btn-link px-0"
                                           type="button">{% trans 'Forgot password' %}?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card col-md-5 text-white bg-primary py-5">
                        <div class="card-body text-center">
                            <div>
                                <h2>Sign up</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                                <a href="{% url 'accounts:register' %}" class="btn btn-lg btn-outline-light my-3"
                                   type="button">
                                    Register Now!
                                </a>
                                <p>Or</p>
                                <a href="{% provider_login_url 'google' %}?next=/" class="btn btn-lg btn-outline-light"
                                   role="button">
                                    <i class="bi bi-google"></i> Sign in with Google
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/coreui.min.js' %}"></script>
</body>
</html>