{#{% extends 'base.html' %}#}
{#{% load socialaccount %}#}
{#{% load i18n %}#}
{##}
{#{% block title %}{% trans 'Registration' %}{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="container">#}
{#        {% trans 'Register' as register_text %}#}
{#        {% include "partials/form.html" with button_text=register_text %}#}
{#        <a href="{% provider_login_url 'google' %}?next=/" class="btn btn-outline-primary mt-3" role="button">#}
{#            <i class="bi bi-google"></i> Sign up with Google#}
{#        </a>#}
{#    </div>#}
{#{% endblock %}#}
{% load crispy_forms_filters %}
{% load static %}
{% load socialaccount %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans 'Registration' %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/coreui.min.css' %}">
</head>
<body>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-4 mx-4">
                    <div class="card-body p-4">
                        <form action="">
                            <h1>{% trans 'Register' %}</h1>
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            {% else %}
                                <p class="text-medium-emphasis">Create your account</p>
                            {% endif %}
                            {% for field in form %}
                                {{ field|as_crispy_field }}
                            {% endfor %}
                            <button class="btn btn-block btn-success" type="submit">{% trans 'Register' %}</button>
                            <a href="{% provider_login_url 'google' %}?next=/" class="btn btn-outline-primary"
                               role="button">
                                <i class="bi bi-google"></i> Sign up with Google
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/coreui.min.js' %}"></script>
</body>
</html>