{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Статистика{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>

            <div class="col-md-9">
                <div class="row g-5 g-xl-8">
                    <div class="col-xl-6">
                        <div class="card bg-info hoverable card-xl-stretch mb-xl-8">
                            <div class="card-body">
                                <i class="fa-solid fa-users text-gray-100 fs-2 ms-n1"></i>
                                <div class="text-gray-100 fw-bold fs-2 mb-2 mt-2">{{ subscriptions_ttl_qty }}</div>
                                <div class="fw-semibold text-gray-100">Количество подписок</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card bg-info hoverable card-xl-stretch mb-xl-8">
                            <div class="card-body">
                                <i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>
                                <div class="text-gray-100 fw-bold fs-2 mb-2 mt-2">{{ active_subscriptions_qty }}</div>
                                <div class="fw-semibold text-gray-100">Количество активных подписок</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card bg-info hoverable card-xl-stretch mb-xl-8">
                            <div class="card-body">
                                <i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>
                                <div class="text-gray-100 fw-bold fs-2 mb-2 mt-2">{{ min_course_price|floatformat:2 }} USD</div>
                                <div class="fw-semibold text-gray-100">Минимальная стоимость курса</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card bg-info hoverable card-xl-stretch mb-xl-8">
                            <div class="card-body">
                                <i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>
                                <div class="text-gray-100 fw-bold fs-2 mb-2 mt-2">{{ avg_course_price|floatformat:2 }} USD</div>
                                <div class="fw-semibold text-gray-100">Средняя стоимость курса</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card bg-info hoverable card-xl-stretch mb-xl-8">
                            <div class="card-body">
                                <i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>
                                <div class="text-gray-100 fw-bold fs-2 mb-2 mt-2">{{ max_course_price|floatformat:2 }} USD</div>
                                <div class="fw-semibold text-gray-100">Максимальная стоимость курса</div>
                            </div>
                        </div>
                    </div>

                    <!--New subscriptions chart-->
                    <div class="row g-5 g-xl-8">
                        <div class="col-xl-6">
                            <div class="card card-xl-stretch mb-xl-8">
                                <div class="card-header border-0 pt-5">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label fw-bold fs-3 mb-1">Новые подписки</span>
                                    </h3>
                                    <div class="card-toolbar">
                                        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary active px-4
                                        me-1 new-subscriptions-chart-btn" data-days="7">Неделя</a>
                                        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1
                                        new-subscriptions-chart-btn" data-days="30">Месяц</a>
                                        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4
                                        new-subscriptions-chart-btn" data-days="180">Пол года</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="new-subscriptions-chart" style="height: 350px"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Popular courses chart-->
                    <div class="row g-5 g-xl-8">
                        <div class="col-xl-6">
                            <div class="card card-xl-stretch mb-xl-8">
                                <div class="card-header border-0 pt-5">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label fw-bold fs-3 mb-1">Популярные курсы</span>
                                    </h3>
                                    <div class="card-toolbar">
                                        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary active px-4
                                        me-1 popular-courses-chart-btn">Неделя</a>
                                        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1
                                        popular-courses-chart-btn">Месяц</a>
                                        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4
                                        popular-courses-chart-btn">Пол года</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="popular-courses-chart" style="height: 350px"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/statistics_js/stats_sales_main.js' %}"></script>
{% endblock %}
