{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Статистика{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>

            <div class="col-md-9">

                <div class="row g-5 g-xl-8">
                    <div class="col-xl-6">
                        {% include 'partials/statistics/statistics_card.html' with score=subscriptions_ttl_qty title='Количество подписок' icon='<i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>' %}
                    </div>
                    <div class="col-xl-6">
                        {% include 'partials/statistics/statistics_card.html' with score=active_subscriptions_qty title='Количество активных подписок' icon='<i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>' %}
                    </div>
                    <div class="col-xl-4">
                        {% include 'partials/statistics/statistics_card.html' with score=min_course_price|floatformat:2 title='Минимальная стоимость курса' icon='<i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>' %}
                    </div>
                    <div class="col-xl-4">
                        {% include 'partials/statistics/statistics_card.html' with score=avg_course_price|floatformat:2 title='Средняя стоимость курса' icon='<i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>' %}
                    </div>
                    <div class="col-xl-4">
                        {% include 'partials/statistics/statistics_card.html' with score=max_course_price|floatformat:2 title='Максимальная стоимость курса' icon='<i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>' %}
                    </div>
                </div>

                <!--New subscriptions chart-->
                {% include 'partials/statistics/chart_by_period.html' with title='Новые подписки' btn_class='new-subscriptions-chart-btn' chart_id='new-subscriptions-chart' %}

                <!--Popular courses chart-->
                {% include 'partials/statistics/chart_by_period.html' with title='Популярные курсы' btn_class='popular-courses-chart-btn' chart_id='popular-courses-chart' %}

            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/statistics_js/stats_sales_main.js' %}"></script>
{% endblock %}
