{% extends 'front/base.html' %}
{% load i18n %}
{% load view_breadcrumbs static currency_price i18n %}
{% block title %}{{ chapter.title }}{% endblock %}
{% block page_header %}{% endblock %}
{% block content %}
    <div class="container mt-8">
    <div class="row">
        <div class="w-sm-100 w-md-50 w-lg-25 ps-6 pt-6 offcanvas offcanvas-start" data-bs-scroll="true"
             data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" style="background-color: white">
            {% include 'front/partials/chapter/chapter_sidebar_navigation.html' %}
        </div>
        <div class="col-lg-9 col-sm-12 ms-auto">
            <div class="d-flex justify-content-center">
                <button class="navbar-toggler fs-2 ms-0 my-auto d-lg-none" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasScrolling" aria-expanded="false" aria-controls="offcanvasScrolling">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="mx-auto">{% include 'front/partials/chapter/chapter_user_step.html' %}</div>
            </div>

                {% for step in steps %}
                    <h3 class="heading mt-3 text-center">{% trans 'Lesson' %} {{ step.serial_number }}. {{ step.title }}</h3>
                    {% if step.video %}
                        {% include 'steps/partial/video_partial.html' %}
                    {% elif step.text %}
                        {% include 'steps/partial/text_partial.html' %}
                                            {% elif step.test %}
                                                {% include 'steps/partial/test_partial.html' %}
                    {% endif %}
                    <br>
                    {% if step.file.all %}
                        <p class="content mt-4">Прикрепленные файлы:</p>
                        {% for file in step.file.all %}
                            <i class="bi bi-paperclip"></i>
                            <a class="link-info link-offset-1 content text-decoration-underline" href="{{ file.lesson_file.url }}" download>{{ file.file_title }}</a>
                        {% endfor %}
                    {% endif %}


                {% endfor %}
                {% if is_paginated %}
                    <div class="d-flex justify-content-evenly mt-5">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-info fs-6">Предыдущий урок</button></a>
                        {% elif previous_chapter %}
                            <a href="{% url 'front:chaptermodel_user_detail' chapter_pk=previous_chapter.pk %}?page={{ last_step_serial_number }}">
                                    <button type="button" class="btn btn-success fs-6">Предыдущая глава</button>
                            </a>
                        {% endif %}
                        {% if page_obj.has_next %}
                           <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-info fs-6">Следующий урок</button></a>
                        {% else %}
                            {% if chapter_end %}
                                <a href="{% url 'front:chaptermodel_user_detail' chapter_pk=next_chapter.pk %}?page=1">
                                    <button type="button" class="btn btn-success fs-6">Следующая глава</button>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}
{% block page_footer %}{% endblock %}
{% block page_script %}
    <script>
        if ($(window).width() > 991) {
           $('#offcanvasScrolling').addClass('show');
        }
    </script>
{% endblock %}