{% extends 'front/base.html' %}
{% load view_breadcrumbs static currency_price i18n %}
{% block title %}{{ chapter.title }}{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            {% include 'front/partials/chapter/chapter_sidebar_navigation.html' %}
        </div>
        <div class="col-md-9">
            <h2>Глава {{ chapter.serial_number }}. {{ chapter.title }}</h2>
            <p>{{ chapter.description }}</p>
            <div class="d-flex justify-content-center">
                {% include 'front/partials/chapter/chapter_user_step.html' %}
            </div>

                {% for step in steps %}
                    <h3>Урок {{ step.serial_number }}. {{ step.title }}</h3>
                    {% if step.video %}
                        {% include 'steps/partial/video_partial.html' %}
                    {% elif step.text %}
                        {% include 'steps/partial/text_partial.html' %}
                        {#                    {% elif step.test %}#}
                        {#                        {% include 'steps/partial/test_partial.html' %}#}
                    {% endif %}
                    <br>
                    {% if step.file.all %}
                        <p>Прикрепленные файлы:</p>
                        {% for file in step.file.all %}
                            <a class="link-info link-offset-1" href="{{ file.lesson_file.url }}" download>{{ file.file_title }}</a>
                        {% endfor %}
                    {% endif %}


                {% endfor %}
                {% if is_paginated %}
                    <div class="d-flex justify-content-evenly mt-5">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-info">Предыдущий урок</button></a>
                        {% endif %}
                        {% if page_obj.has_next %}
                           <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-info">Следующий урок</button></a>
                        {% else %}
                            {% if chapter_end %}
                                <a href="{% url 'front:chaptermodel_user_detail' chapter_pk=next_chapter.pk %}?page=1">
                                    <button type="button" class="btn btn-info">Следующая глава</button>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}
{% block page_script %}

{% endblock %}