<h2>{{ step.video.video_title }}</h2>
<p>{{ step.video.video_description }}</p>
<div class="d-flex justify-content-center">
    <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="640"
            height="360"
            data-setup="{'playbackRates': [0.5, 1, 1.5, 2]}"
            disablepictureinpicture controlslist="nodownload"
    >
        <source src="{{ step.video.video_file.url }}" type="video/mp4">

        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that / Для просмотра этого видео, пожалуйста, включите JavaScript и
            рассмотрите возможность обновления до веб-браузера, который
            <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video / поддерживает видео в формате HTML5</a>
        </p>
    </video>
</div>
<div class="my-3">
    <a href="{% url 'step:videomodel_update' step.video.id %}" class="btn btn-primary me-2">Редактировать
        видео</a>
    <a href="{% url 'step:videomodel_delete' step.video.id %}" class="btn btn-danger me-2">Удалить видео </a>
</div>
