<div class="col-md-6 d-flex justify-content-center">
    <div class="accordion" id="accordionExample">
        <h2>Содержание курса {{ chapter.serial_number }}: {{ chapter.title }}</h2>
        {% for chapter in chapters|dictsort:"serial_number" %}
            {% if chapter.step.all %}
                <div class="accordion-item">
                    <p class="accordion-header">
                        <button class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapse{{ chapter.pk }}" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapse{{ chapter.pk }}">
                            <strong class="fs-5 text-dark">Глава {{ chapter.serial_number }}: {{ chapter.title }}</strong>
                        </button>
                    </p>

                    <div id="panelsStayOpen-collapse{{ chapter.pk }}" class="accordion-collapse collapse">
                        <div class="accordion-body p-0">
                            <ol class="text-dark bold">
                                {% for step in chapter.step.all %}
                                    <li><strong class="fs-6 text-dark">{{ step.title }}</strong></li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>