{% load custom_test static i18n %}
<article class="postcard {% if my_course %}bg_blue{% else %}light{% endif %} blue">
    <a class="postcard__img_link" href="#">
        <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title"/>
    </a>
    <div class="postcard__text t-dark">
        <h1 class="postcard__title blue heading"><a
                href="{% url 'front:course_user_detail' course.id %}">{{ course.title }} </a>
        </h1>
        <div class="postcard__subtitle">
            <time datetime="{{ course.update_at }}">
                Последнее обновление: <i
                    class="fas fa-calendar-alt mr-2"></i> {{ course.update_at }}
            </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">{{ course.description }}</div>
        <ul class="postcard__tagbox text-white">
            <li class="tag__item"><i
                    class="fas fa-tag mr-2"></i> {{ course.language|get_language_name }}
            </li>
            <li class="tag__item"><i
                    class="fas fa-tag mr-2"></i> {{ course.module_id }}
            </li>
            <li class="tag__item"><i
                    class="fas fa-tag mr-2"></i> {{ course.courseTarget_id }}
            </li>
            <li class="tag__item"><i
                    class="fas fa-tag mr-2"></i> {{ course.get_total_tests|make_text_for_test }}
            </li>
            <li class="tag__item"><i
                    class="fas fa-tag mr-2"></i> {{ course.get_total_lessons|make_text_for_lessons }}
            </li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i> {{ course.learnTime }}
                часов
            </li>
            <li class="tag__item">
                <a href="{% url 'front:course_user_detail' course.id %}"><i
                        class="fas fa-play mr-2"></i> Начать обучение</a>
            </li>
        </ul>
    </div>
</article>