{% load i18n %}
<div>
    <div>
        <h2 class="heading mt-4">{{ data.title }}</h2>
        <div>
            <div>
                <p class="content">{{ data.description }}</p>
            </div>
            <br>
            <p class="content"><strong>{% trans 'Target audience' %}:</strong> {{ data.courseTarget_id.title }}</p>
            <p class="content"><strong>{% trans 'Language' %}:</strong> {{ data.language }}</p>
            <p class="content"><strong>{% trans 'Learn time' %}:</strong> {{ data.learnTime }} {% trans 'h.' %}</p>
            <p class="content"><strong>{% trans 'Teachers' %}:</strong></p>

            {% for teacher in data.teachers.all %}
                <ol class="content" style="list-style-type: none">
                    <li><strong>{% trans 'Name' %}: </strong>{{ teacher.get_full_name }}</li>
                    <li><strong>{% trans 'Job title' %}: </strong>{{ teacher.job_title }}</li>
                    <li><strong>{% trans 'Work place' %}: </strong>{{ teacher.corp }}</li>
                </ol>
            {% endfor %}

        </div>
    </div>
</div>