<div class="col-md-6 d-flex align-items-center justify-content-center">
    <div>
        <h2>{{ data.title }}</h2>
        <div>
            <div>
                <p>{{ data.description }}</p>
            </div>
            <br>
            <p><strong>Целевая аудитория курса:</strong> {{ data.courseTarget_id.title }}</p>
            <p><strong>Язык обучения:</strong> {{ data.language }}</p>
            <p><strong>Время обучения:</strong> {{ data.learnTime }} ч.</p>
            <p><strong>Преподаватели:</strong></p>

            {% for teacher in data.teachers.all %}
                <ol style="list-style-type: none">
                    <li><strong>ФИО:</strong>{{ teacher.get_full_name }}</li>
                    <li><strong>Должность:</strong>{{ teacher.job_title }}</li>
                    <li><strong>Место работы:</strong>{{ teacher.corp }}</li>
                </ol>
            {% endfor %}

        </div>
    </div>
</div>