.bg-dark-blue-crayol {
    background-color: #1974D2;
}

.bg-azure-crayola {
    background-color: #1DACD6;
}

.bg-verdepomovy {
    background-color: #34C924;
}
.text-v-white{
  color: white;
}

.draggable {
  cursor: move;
}

/* Базовые стили паддингов, которые не меняются */
.section-padding {
  padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

/* Медиа-запросы CoreUI/Bootstrap для уточнения при необходимости */
@media (max-width: 768px) {
  .section-padding {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .section-padding {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}

/*.nav-item.active .nav-link {*/
/*    text-decoration: underline;*/
/*}*/

/*.dropdown.active a {*/
/*    text-decoration: underline;*/
/*}*/

.nav-item.active .nav-link, .dropdown.active a {
    text-decoration: none;
    position: relative;
}

.nav-item.active .nav-link::after, .dropdown.active a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    height: 2px;
    background-color: #FFFFFF;
    display: block;
}

/* Стиль кнопки О компании для больших экранов */
@media (min-width: 992px) {
    .dropdown .btn {
        color: #ffffff;
        background-color: transparent;
    }
}

/* Стиль кнопки О компании для маленьких экранов (гамбургер-меню) */
@media (max-width: 991px) {
    .dropdown .btn {
        color: #465774;
        background-color: transparent;
    }
}

/* Стиль для заголовков */
.heading {
  font-family: 'Arial Nova Light', Arial, sans-serif;
  font-size: 48px;
  font-weight: normal;
}

/* Стиль для содержания */
.content {
  font-family: 'Arial Nova Light', Arial, sans-serif;
  font-size: 25px;
  font-weight: normal;
}

/* Если нужно применить стили для всего текста на странице */
body {
  font-family: 'Arial Nova Light', Arial, sans-serif;
  font-size: 20px;
}
