.bg-dark-blue-crayol {
    background-color: #1974D2;
}

.bg-azure-crayola {
    background-color: #1DACD6;
}

.bg-verdepomovy {
    background-color: #34C924;
}
.text-v-white{
  color: white;
}

.draggable {
  cursor: move;
}

/* Базовые стили паддингов, которые не меняются */
.section-padding {
  padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

/* Медиа-запросы CoreUI/Bootstrap для уточнения при необходимости */
@media (max-width: 768px) {
  .section-padding {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .section-padding {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
