{% extends 'front/base.html' %}
{% load static i18n custom_test %}
{% block title %}{% translate 'Profile' %}{% endblock %}
{% block card-container %}
    {% block content %}
        <div class="card text-center card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
            <section class="pt-5 position-relative">
                <div class="container">
                    <div class="row">
                        <div class="col-12 mx-auto">
                            {% for step_quiz in step_quiz_query %}
                                    <a href="{% url 'front:chaptermodel_user_detail' chapter_pk=step_quiz.chapter.pk %}?page={{ step_quiz.pk }}"
                                       class="alert alert-info text-white d-block" role="alert">
                                        {% blocktrans %}
                                            You have an outdated <span class="text-decoration-underline text-center">
                                            test</span>. Please complete the test.
                                        {% endblocktrans %}
                                    </a>
                            {% endfor %}
                        </div>
                        <div class="col-12 mx-auto">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
                                    <div class="align-items-center mb-2">
                                        <h3 class="mb-0 heading text-center">{{ user.get_full_name }}
                                            {% if perms.accounts.can_grant_moderator_role %}
                                                <span class="text-warning">{% trans 'Moderator' %}</span>
                                            {% elif user.is_moderator %}
                                                <span class="text-danger">{% trans 'Admin' %}</span>
                                            {% endif %}

                                        </h3>
                                    </div>

                                    <a href="{% url 'accounts:change_password' %}" class="nav-link">
                                        {% trans 'Change password' %}
                                    </a>
                                    <div class="align-items-center mt-2 mb-2">
                                        <h5 class="mb-0 content text-center">{{ user.email }}</h5>
                                    </div>
                                    <div class="align-items-center mb-2">
                                        {% if user.company %}
                                            <h5 class="mb-0 content text-center">{{ user.phone_number }}</h5>
                                        {% endif %}
                                    </div>
                                    <div class="row mb-4">
                                        <div class="align-items-center">
                                            {% if user.email_verified %}
                                                <span class="align-items-center content align-items-center">
                                                    {% trans 'Email' %}:</span>
                                                <span class="text-success align-items-center text-center content">
                                                    {% trans 'Verified' %}</span>
                                            {% else %}
                                                <span class="text-center content">{% trans 'Email' %}:</span>
                                                <span class="text-danger text-center content">
                                                    {% trans 'Not verified' %}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {% if user.company %}
                                                <span class="content text-center">{% trans 'Company' %}:</span>
                                                <span> {{ user.company }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {% if user.job_title %}
                                                <span class="text-center content">{% trans 'Job title' %}:</span>
                                                <span> {{ user.job_title }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="align-items-center content mb-2">
                                        {% for subscription in user_subscription %}
                                            <span class="text-bold">{% trans 'Subscription valid until' %}:</span>
                                            <span class="text-bold"> {{ subscription.end_time }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        {% if courses %}
                            <h3 class="mb-3 text-center content">{% trans 'My courses' %}:</h3>
                        {% endif %}

                        {% for course in courses %}
                            {% include "front/partials/course/course_card.html" %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    {% endblock %}
{% endblock %}