{% extends 'base.html' %}
{% block title %}Тест{% endblock %}
{% block content %}
    <div class="container mt-5">
        {% for q in question %}
            <h3>Вопрос №{{ q.id }}</h3>
            <p>{{ q.title }}</p>
            {% for answer in q.answer_bim.all %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="answer-{{ answer.id }}">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{ answer.answer }}
                    </label>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-success mt-3">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-success mt-3">Предыдущий вопрос</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-success mt-3">Следующее вопрос</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-success mt-3">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}