{% extends 'base.html' %}
{% block title %}Тест{% endblock %}
{% block content %}
    <div class="container mt-5">
        {% if page_obj.has_next %}
            <form action="?page={{ page_obj.next_page_number }}&next={{ request.path }}" method="post">
        {% else %}
            <form action="" method="post">
        {% endif %}
        {% csrf_token %}
        {% for q in question %}
            <h3>Вопрос №{{ page_obj.number }}</h3>
            <p>{{ q.title }}</p>
            {% for answer in q.answer_bim.all %}
                {% if answer.id in user_answers_id %}
                {% endif %}
                <div class="form-check">
                    {% if answer.id in user_answers_id %}
                        <input checked  class="form-check-input" type="radio" name="answer" value="{{ answer.id }}" id="answer-{{ answer.id }}">
                    {% else %}
                        <input class="form-check-input" type="radio" name="answer" value="{{ answer.id }}" id="answer-{{ answer.id }}">
                    {% endif %}
                    <label class="form-check-label" for="answer-{{ answer.id }}">
                        {{ answer.answer }}
                    </label>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="pagination mt-3">
            <div class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">Предыдущий
                        вопрос</a>
                {% else %}
                    <span class="btn btn-primary disabled">Предыдущий вопрос</span>
                {% endif %}
                <button class="btn btn-primary" type="submit">
                    {% if page_obj.has_next %}
                        Следующий вопрос
                    {% else %}
                        Завершить тест
                    {% endif %}
                </button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}