{% extends "front/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Courses list' %}{% endblock %}

{% block content %}
    <section class="light">
        <div class="row">
            <div class="h1 text-center text-dark" id="pageHeaderTitle">{% trans 'List of available courses' %}</div>
            <div class="col-md-12">
                {% include 'front/partials/filter.html' %}
            </div>
            <div class="col-md-12">
                {% for course in courses %}
                    {% if course.subscription.all %}
                        {% if course == user_subscription.subscription.course %}
                            {% include "front/partials/course/course_card.html" with my_course=True %}
                        {% else %}
                            {% include "front/partials/course/course_card.html" %}
                        {% endif %}

                    {% endif %}
                    {% empty %}
                    <h2 class="text-center mt-5 min-vh-25">{% trans 'No courses found' %}</h2>
                {% endfor %}
            </div>
        </div>
        {% if is_paginated %}
            {% include 'front/partials/pagination.html' %}
        {% endif %}
    </section>

{% endblock %}
