<h3>Навигация</h3>
    {% for opened_chapter in opened_chapters %}
        {% if opened_chapter.pk == chapter.pk %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <h5>Глава {{ opened_chapter.serial_number }}</h5>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        {% for chapter_step in opened_chapter.step.all %}
                            {% if chapter_step.serial_number == page_obj.number %}
                                <a class="link-primary link-offset-1" aria-current="page" href="?page={{ chapter_step.serial_number }}">Урок {{ chapter_step.serial_number }}. {{ chapter_step.title }}</a>
                                <br>
                            {% else %}
                                <a class="link-primary link-underline-opacity-0" aria-current="page" href="?page={{ chapter_step.serial_number }}">Урок {{ chapter_step.serial_number }}. {{ chapter_step.title }}</a>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ opened_chapter.serial_number }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ opened_chapter.serial_number }}">
                          <h5>Глава {{ opened_chapter.serial_number }}</h5>
                      </button>
                    </h2>
                        <div id="panelsStayOpen-collapse{{ opened_chapter.serial_number }}" class="accordion-collapse collapse show">
                          <div class="accordion-body">
                              {% for chapter_step in opened_chapter.step.all %}
                                  <a class="link-primary link-underline-opacity-0" aria-current="page" href="{% url 'modules:chaptermodel_user_detail' chapter_pk=opened_chapter.pk %}?page={{ chapter_step.serial_number }}">Урок {{ chapter_step.serial_number }}. {{ chapter_step.title }}</a>
                                  <br>
                              {% endfor %}
                          </div>
                        </div>
                </div>
        {% endif %}
    {% endfor %}
    {% for closed_chapter in closed_chapters %}
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" disabled>
                  <h5>Глава {{ closed_chapter.serial_number }}</h5>
              </button>
            </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body">
                  </div>
                </div>
        </div>
    {% endfor %}
