{% extends 'moderator_page.html' %}
{% load i18n %}
{% load view_breadcrumbs %}
{% block title %}{% trans 'Edit chapter' %}{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1>{% trans 'Edit chapter' %}:</h1>
                {% trans 'Edit' as button_text_edit %}
                {% include "partials/form.html" with button_text=button_text_edit %}
            </div>
        </div>
    </div>
{% endblock %}
