{% extends 'base.html' %}
{% load i18n %}
{% load view_breadcrumbs %}
{% block title %}{% trans 'Chapters' %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>
            <div class="col-md-9">
                {% block breadcrumbs %}
                    {% render_breadcrumbs %}
                {% endblock %}
                <h1>{% trans 'Chapters list' %}</h1><a href="{% url 'modules:chaptermodel_create' %}" class="btn btn-primary my-3">
                {% trans 'Add chapter' %}</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% trans 'Title' %}</th>
                        <th class="text-end">{% trans 'Actions' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for chapter in chapters %}
                        <tr>
                            <td>{{ chapter.id }}</td>
                            <td><a href="{% url 'modules:chaptermodel_detail' chapter.id %}">{{ chapter.title }}</a></td>
                            <td class="text-end">
                                <div class="btn-group">
                                    <a href="{% url 'modules:chaptermodel_update' chapter.id %}"
                                       class="btn btn-info btn-sm mx-3">{% trans 'Change' %}</a>
                                    <a href="{% url 'modules:chaptermodel_delete' chapter.id %}"
                                       class="btn btn-danger btn-sm">{% trans 'Delete' %}</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
