{% load crispy_forms_filters i18n %}
<div hx-target="this" hx-swap="outerHTML" class="">
    <form action="" id="main-form" method="POST" enctype="multipart/form-data">
        {% if error_messages %}
            {% for error in error_messages %}
                <div class="alert alert-danger my-2" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{ forms|crispy }}
        {% if answer %}
            <button type="submit" hx-post="{% url 'quiz_bim:answerbim_htmx_update' answer.question_bim.id answer.id %}"
                    class="btn btn-primary">
                {% trans 'Save' %}
            </button>
            <button hx-get="{% url 'quiz_bim:answerbim_htmx_detail' answer.question_bim.id answer.id %}" type="button"
                    class="btn btn-primary">
                {% trans 'Cancel changes' %}
            </button>
        {% else %}
            <button type="submit" hx-post=".?question_pk={{ question.pk }}"
                    class="btn btn-primary">
                {% trans 'Save' %}
            </button>
        {% endif %}
    </form>
</div>

