<div hx-target="this" class="mt-3">
    <div class="card">
        <div class="card-body">
            <h3 class="">
                {{ answer.answer }}
                {{ answer.is_correct }}
            </h3>
            <div class="mt-2">
                <button hx-get="{% url 'quiz_bim:answerbim_htmx_update' answer.question_bim_id answer.id %}"
                        hx-swap="outerHTML"
                        class="btn btn-primary">
                    Изменить
                </button>
                <form action="" class="d-inline">
                    {% csrf_token %}
                    <button hx-post="{% url 'quiz_bim:answerbim_htmx_delete' answer.question_bim_id answer.id %}"
                            hx-swap="outerHTML swap:1s"
                            class="btn btn-primary">
                        Удалить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>