{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Статистика{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>

            <div class="col-md-9">
                <div class="row g-5 g-xl-8">
                    <div class="col-xl-4">
                        <div class="card bg-info hoverable card-xl-stretch mb-xl-8">
                            <div class="card-body">
                                <i class="fa-solid fa-users text-gray-100 fs-2 ms-n1"></i>
                                <div class="text-gray-100 fw-bold fs-2 mb-2 mt-2">{{ subscriptions_qty }}</div>
                                <div class="fw-semibold text-gray-100">Пользователей купили данный курс</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card bg-info hoverable card-xl-stretch mb-xl-8">
                            <div class="card-body">
                                <i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>
                                <div class="text-gray-100 fw-bold fs-2 mb-2 mt-2">{{ completions_qty }}</div>
                                <div class="fw-semibold text-gray-100">Пользователей закончили данный курс</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card bg-info hoverable card-xl-stretch mb-xl-8">
                            <div class="card-body">
                                <i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>
                                <div class="text-gray-100 fw-bold fs-2 mb-2 mt-2">{{ avg_completion_time }}</div>
                                <div class="fw-semibold text-gray-100">Среднее время прохождения</div>
                            </div>
                        </div>
                    </div>

                    <!--Lesson types pie chart-->
                    <div class="row g-5 g-xl-8">
                        <div class="col-xl-6">
                            <div class="card card-xl-stretch mb-xl-8">
                                <div class="card-header border-0 pt-5">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label fw-bold fs-3 mb-1">Типы уроков</span>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div id="lesson-types-in-course-chart" data-course="{{ course.pk }}" style="height: 350px"></div>
                                </div>
                            </div>
                        </div>
                    </div>

{##}
{#                    <!--Steps completed chart-->#}
{#                    <div class="row g-5 g-xl-8">#}
{#                        <div class="col-xl-6">#}
{#                            <div class="card card-xl-stretch mb-xl-8">#}
{#                                <div class="card-header border-0 pt-5">#}
{#                                    <h3 class="card-title align-items-start flex-column">#}
{#                                        <span class="card-label fw-bold fs-3 mb-1">Пройденные уроки</span>#}
{#                                    </h3>#}
{#                                    <div class="card-toolbar">#}
{#                                        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary active px-4 me-1" id="steps-completed-chart-week">Неделя</a>#}
{#                                        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1" id="steps-completed-chart-month">Месяц</a>#}
{#                                        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4" id="steps-completed-chart-half-year">Пол года</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="card-body">#}
{#                                    <div id="steps-completed-chart" style="height: 350px"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/statistics_js/stats_courses_detailed.js' %}"></script>
{% endblock %}
