{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Статистика{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>

            <div class="col-md-9">

                <div class="row g-5 g-xl-8 mb-4">
                    <div class="col-s-12 col-md-6">
                        {% include 'partials/statistics/statistics_card.html' with score=courses_ttl_qty title='Количество созданных курсов' icon='<i class="fa-solid fa-graduation-cap fs-2"></i>' %}
                    </div>
                    <div class="col-s-12 col-md-6">
                        {% include 'partials/statistics/statistics_card.html' with score=published_courses_qty title='Количество опубликованных курсов' icon='<i class="fa-regular fa-calendar-check fs-2"></i>' %}
                    </div>
                </div>

                <div class="row g-5 g-xl-8">
                    <!--Lesson types pie chart-->
                    <div class="col-s-12 col-md-6">
                        {% include 'partials/statistics/chart_card.html' with title='Типы уроков' chart_id='lesson-types-chart' %}
                    </div>

                    <!--Steps completed chart-->
                    <div class="col-s-12 col-md-6">
                        {% include 'partials/statistics/chart_by_period.html' with title='Пройденные уроки' btn_class='steps-completed-chart-btn' chart_id='steps-completed-chart' %}
                    </div>
                </div>

                <a href="{% url 'reports:stats_courses_list' %}" class="btn btn-primary">Список курсов</a>

            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/statistics_js/statistics_charts.js' %}"></script>
    <script src="{% static 'js/statistics_js/stats_courses_main.js' %}"></script>
{% endblock %}
