<div class="card-body my-4">
    <div class="d-flex justify-content-between">
        <div>
            <h4 class="card-title mb-0">{{ title }}</h4>
        </div>
        <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
            <div class="btn-group btn-group-toggle mx-3" data-coreui-toggle="buttons">
                <button class="btn btn-outline-dark active {{ btn_class }}" data-days="7">Неделя</button>
                <button class="btn btn-outline-dark {{ btn_class }}" data-days="30">Месяц</button>
                <button class="btn btn-outline-dark {{ btn_class }}" data-days="180">Пол года</button>
            </div>
        </div>
    </div>
    <div class="c-chart-wrapper" style="height: 20em;margin-top:40px;">
        <div id={{ chart_id }}></div>
    </div>
</div>