{% if is_paginated %}
    {% for step in chapter.step.all|dictsort:"serial_number" %}
        {% if step.serial_number == page_obj.number %}
            {% if step in finished_steps.all %}
                <a class="fs-2 ms-1 text-success link-underline-opacity-0" href="?page={{ step.serial_number }}"><i class="bi bi-check-square"></i></a>
            {% else %}
                <a class="fs-2 ms-1 text-success link-underline-opacity-0" href="?page={{ step.serial_number }}"><i class="bi bi-square"></i></a>
            {% endif %}
        {% elif step in finished_steps.all %}
             <a class="fs-2 ms-1 text-success link-underline-opacity-0" href="?page={{ step.serial_number }}"><i class="bi bi-check-square-fill"></i></a>
        {% else %}
            <a class="fs-2 ms-1 text-secondary link-underline-opacity-0" href="?page={{ step.serial_number }}"><i class="bi bi-square-fill"></i></a>
        {% endif %}
    {% endfor %}
{% endif %}