{% extends "front/base.html" %}
{% load static i18n %}


{% block content %}
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="row py-5">
                        <div class="col-lg-10 col-md-12 z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
                            <h2 class="heading text-gradient text-info text-uppercase text-center">
                                {% trans 'Project goals' %}:<br></h2>
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == 'ru' %}
                                {% include 'front/partials/static/goals_ru.html' %}
                            {% elif LANGUAGE_CODE == 'en' %}
                                {% include 'front/partials/static/goals_en.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
                    <h2 class="heading text-gradient text-info text-uppercase text-center">
                        {% trans 'About team' %}:</h2>
                    <p class="content text-dark mb-0 mt-3 text-justify">
                        {% trans 'TEAM_TEXT' %}
                        <br>
                    </p>
                </div>
            </div>
            <div class="row mb-5">
                {% for member in team %}
                    <div class="col-lg-3 col-12 col-md-6 mb-lg-0 mt-6 mb-5">
                        <div class="card shadow-lg h-100">
                            <div class="card-body mt-n4 mx-3 p-0 bg-transparent position-relative z-index-2">
                                <a class="d-block blur-shadow-image">
                                    <img src="{{ member.photo.url }}" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
                                </a>
                                <div class="colored-shadow" style="background-image: url('{{ member.photo.url }}');"></div>
                            </div>
                            <div class="card-footer text-center bg-white border-radius-lg p-3 pt-0">
                                <h5 class="mt-3 mb-1 content">{{ member.name }}</h5>
                                <p class="body font-weight-bolder text-info text-gradient text-uppercase">{{ member.title }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="section-padding">
        <div class="container mb-4">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="heading text-gradient text-info text-uppercase">{% trans 'Contacts' %}</h2>
                    <div class="col-lg-10 fs-5 col-md-12 z-index-2 position-relative px-md-2 px-sm-5 mx-auto text-center body">
                        <a href="mailto:s.alexey@bimstandard.xyz"><i class="bi bi-envelope"></i>
                            s.alexey@bimstandard.xyz</a>
                    </div>
                    <div class="col-lg-10 fs-5 col-md-12 z-index-2 position-relative px-md-2 px-sm-5 mx-auto mt-1 text-center body">
                        <a href="mailto:erkin@bimstandard.xyz"><i class="bi bi-envelope"></i>
                            erkin@bimstandard.xyz</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}