{% extends "front/base.html" %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    <section >
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="row py-5">
                        <div class="col-lg-10 col-md-12 z-index-2 position-relative px-md-2 px-sm-5 mx-auto mt-5">
                            <h5 class="text-lg text-dark mb-0 text-center">Цели проекта:<br></h5>
                            <p class="text-lg text-dark mb-0 mt-3 text-justify"><span class="ms-5">Мы уверены</span>, что образование
                                в области инженерии должно быть доступным для всех,
                                независимо от места жительства или физических ограничений. Мы предоставляем бесплатные и
                                платные ресурсы, чтобы каждый мог получить знания.</p>
                            <p class="text-lg text-dark mb-0 mt-3 text-justify"><span class="ms-5">Мы стремимся</span> предложить
                                высококачественные учебные материалы, разработанные экспертами в
                                области проектирования, строительства, энергетики, машиностроения. Мы регулярно
                                обновляем контент, чтобы отражать последние технологические и инновационные тренды в
                                инженерии.</p>
                            <p class="text-lg text-dark mb-0 mt-3 text-justify"><span class="ms-5">Мы поддерживаем</span> активное
                                обучение и практическое применение знаний. Наши курсы включают
                                задания, проекты и возможность работы с реальными инженерными задачами.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section >
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto ">
                    <h2 class="text-gradient text-info text-uppercase text-center">О команде: </h2>
                    <p class="text-lg text-dark mb-5 mt-5 text-justify">
                        Мы команда профессиональных инженеров из разных отраслей, объединяет нас комплексный подход BIM.
                        Хотим поделиться своим опытом и собрать единомышленников в области инженерии и инноваций.<br>
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-12 col-md-6 mb-lg-0 mb-5">
                    <div class="card shadow-lg">
                        <div class="card-header mt-n4 mx-3 p-0 bg-transparent position-relative z-index-2">
                            <a class="d-block blur-shadow-image">
                                <img src="https://images.unsplash.com/photo-1536321115970-5dfa13356211?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80"
                                     alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
                            </a>
                            <div class="colored-shadow"
                                 style="background-image: url(&quot;https://images.unsplash.com/photo-1536321115970-5dfa13356211?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80&quot;);"></div>
                        </div>
                        <div class="card-body text-center bg-white border-radius-lg p-3 pt-0">
                            <h5 class="mt-3 mb-1 d-md-block d-none">Miriam Lendra</h5>
                            <p class="mb-1 d-md-none d-block text-sm font-weight-bold text-dark mt-3">Miriam Lendra</p>
                            <p class="mb-0 text-xs font-weight-bolder text-info text-gradient text-uppercase">Desktop
                                Publisher</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 col-md-6 mb-lg-0 mb-5">
                    <div class="card shadow-lg">
                        <div class="card-header mt-n4 mx-3 p-0 bg-transparent position-relative z-index-2">
                            <a class="d-block blur-shadow-image">
                                <img src="https://images.unsplash.com/photo-1544717305-2782549b5136?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80"
                                     alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
                            </a>
                            <div class="colored-shadow"
                                 style="background-image: url(&quot;https://images.unsplash.com/photo-1544717305-2782549b5136?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80&quot;);"></div>
                        </div>
                        <div class="card-body text-center bg-white border-radius-lg p-3 pt-0">
                            <h5 class="mt-3 mb-1 d-md-block d-none">Natalie Paisley</h5>
                            <p class="mb-1 d-md-none d-block text-sm font-weight-bold text-dark mt-3">Natalie
                                Paisley</p>
                            <p class="mb-0 text-xs font-weight-bolder text-info text-gradient text-uppercase">Credit
                                Analyst</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 col-md-6 mb-lg-0 mb-5">
                    <div class="card shadow-lg">
                        <div class="card-header mt-n4 mx-3 p-0 bg-transparent position-relative z-index-2">
                            <a class="d-block blur-shadow-image">
                                <img src="https://images.unsplash.com/photo-1546215364-12f3fff5d578?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80"
                                     alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
                            </a>
                            <div class="colored-shadow"
                                 style="background-image: url(&quot;https://images.unsplash.com/photo-1546215364-12f3fff5d578?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80&quot;);"></div>
                        </div>
                        <div class="card-body text-center bg-white border-radius-lg p-3 pt-0">
                            <h5 class="mt-3 mb-1 d-md-block d-none">Mark Audrey</h5>
                            <p class="mb-1 d-md-none d-block text-sm font-weight-bold text-dark mt-3">Bella Audrey</p>
                            <p class="mb-0 text-xs font-weight-bolder text-info text-gradient text-uppercase">
                                Economist</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 col-md-6 mb-lg-0 mb-5">
                    <div class="card shadow-lg">
                        <div class="card-header mt-n4 mx-3 p-0 bg-transparent position-relative z-index-2">
                            <a class="d-block blur-shadow-image">
                                <img src="https://images.unsplash.com/photo-1519058082700-08a0b56da9b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80"
                                     alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
                            </a>
                            <div class="colored-shadow"
                                 style="background-image: url(&quot;https://images.unsplash.com/photo-1519058082700-08a0b56da9b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80&quot;);"></div>
                        </div>
                        <div class="card-body text-center bg-white border-radius-lg p-3 pt-0">
                            <h5 class="mt-3 mb-1 d-md-block d-none">Wang Skylar</h5>
                            <p class="mb-1 d-md-none d-block text-sm font-weight-bold text-dark mt-3">Mila Skylar</p>
                            <p class="mb-0 text-xs font-weight-bolder text-info text-gradient text-uppercase">Aviation
                                Inspector</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-sm-5 py-5 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="text-gradient text-info text-uppercase">Контакты</h2>
                    <div class="col-lg-10 fs-5 col-md-12 z-index-2 position-relative px-md-2 px-sm-5 mx-auto text-center">
                        <a href="mailto:s.alexey@bimstandard.xyz"><i class="bi bi-envelope"></i>
                            s.alexey@bimstandard.xyz</a>
                    </div>
                    <div class="col-lg-10 fs-5 col-md-12 z-index-2 position-relative px-md-2 px-sm-5 mx-auto mt-1 text-center">
                        <a href="mailto:erkin@bimstandard.xyz"><i class="bi bi-envelope"></i>
                            erkin@bimstandard.xyz</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section >
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="text-gradient text-info text-uppercase">Наши партнеры</h2>
                </div>
                <div class="owl-carousel owl-theme mt-5">
                    <div class="item bg-black"><h4>1</h4></div>
                    <div class="item"><h4>2</h4></div>
                    <div class="item"><h4>3</h4></div>
                    <div class="item"><h4>4</h4></div>
                    <div class="item"><h4>5</h4></div>
                    <div class="item"><h4>6</h4></div>
                    <div class="item"><h4>7</h4></div>
                    <div class="item"><h4>8</h4></div>
                    <div class="item"><h4>9</h4></div>
                    <div class="item"><h4>10</h4></div>
                    <div class="item"><h4>11</h4></div>
                    <div class="item"><h4>12</h4></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}