{% extends "front/base.html" %}
{% load static %}

{% block title %}AccessibleBIM{% endblock %}

{% block content %}
    <section class="py-7">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h1>Welcome!</h1>
                    <h3>To the educational platform Enhance
                        Engineering</h3>
                    <p class="pe-5">Pain is what we go through as we become older. We get insulted by
                        others, lose trust for those others. We get back stabbed by friends. It becomes
                        harder for us to give others a hand.</p>
                    <a href="#" type="button" class="btn btn-outline-dark-blue">Info</a>
                </div>
                <div class="col-lg-5 ms-auto">
                    <div class="position-relative">
                        <img class="max-width-50 w-100 position-relative z-index-2"
                             src="{% static "img/building.jpg" %}" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-9">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h3>Read More About Us</h3>
                    <p class="pe-5">Pain is what we go through as we become older. We get insulted by others, lose trust
                        for those others. We get back stabbed by friends. It becomes harder for us to give others a
                        hand.</p>
                    <a href="{% url "front:course_user_list" %}" type="button btn-outline-dark-blue" class="btn btn-outline-dark-blue">
                        Перейти к курсам
                        <i class="fas fa-arrow-right text-sm ms-1"></i>
                    </a>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape bg-dark-blue shadow-primary text-center">
                            <i class="fas fa-ship opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">It becomes harder for us to give others a hand. <br> We get our heart broken
                                by people we love.</p>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape  bg-dark-blue shadow-primary text-center">
                            <i class="fas fa-handshake opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">As we live, our hearts turn colder. <br>Cause pain is what we go through as
                                we become older.</p>
                        </div>
                    </div>
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape  bg-dark-blue shadow-primary text-center">
                            <i class="fas fa-hourglass opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">When we lose family over time. <br> What else could rust the heart more over
                                time? Blackgold.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-sm-5 py-5 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="text-gradient text-info text-uppercase">Наши партнеры</h2>
                </div>
                <div class="owl-carousel owl-theme mt-5">
                    {% for partner in partners %}
                        <div>
                            <div class="item bg-black w-100" style="background-image: url('{{ partner.image.url }}');
                                                                height: 10em;
                                                                background-position: center;
                                                                background-repeat: no-repeat;
                                                                background-size: contain;"></div>
                            <h4 class="text-center">{{ partner.title }}</h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
