{% extends "front/base.html" %}
{% load static %}

{% block title %}Bologna Engineering Excellence{% endblock %}

{% block content %}
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="heading text-gradient text-info pt-5">МИССИЯ</h1>
                    <p class="content text-dark mb-0 text-justify">
                        Наша миссия - обеспечить доступное и качественное образование
                        в области инженерии для всех, кто желает развивать свои навыки и знания.
                        Мы стремимся вдохновить и поддержать студентов, специалистов и энтузиастов инженерии,
                        предоставляя им обширный выбор курсов, обучающих материалов и практических заданий.<br>
                    </p>
                    <a href="{% url "front:about" %}" type="button" class="btn btn-outline-dark-blue content mt-4">О компании</a>
                </div>
                <div class="col-lg-5 ms-auto">
                    <div class="position-relative">
                        <img class="max-width-50 w-100 position-relative z-index-2"
                             src="{% static "img/building.jpg" %}" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center py-5">
                    <h2 class="text-gradient text-info text-uppercase heading">Наши партнеры</h2>
                </div>
                <div class="owl-carousel owl-theme mt-5">
                    <div class="item bg-black"><h4>1</h4></div>
                    <div class="item"><h4>2</h4></div>
                    <div class="item"><h4>3</h4></div>
                    <div class="item"><h4>4</h4></div>
                    <div class="item"><h4>5</h4></div>
                    <div class="item"><h4>6</h4></div>
                    <div class="item"><h4>7</h4></div>
                    <div class="item"><h4>8</h4></div>
                    <div class="item"><h4>9</h4></div>
                    <div class="item"><h4>10</h4></div>
                    <div class="item"><h4>11</h4></div>
                    <div class="item"><h4>12</h4></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
