{% extends 'base.html' %}
{% block title %}Тест{% endblock %}
{% block content %}
    {% include 'partials/main_block.html' %}

    <div class="container mt-5">
        <h3>Вопрос №1</h3>
        <p>Сам вопрос</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Вопрос 1
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Вопрос 2
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Вопрос 3
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
            <label class="form-check-label" for="flexRadioDefault4">
                Вопрос 4
            </label>
        </div>
        <a href="#" class="btn btn-success mt-3">Следующее вопрос</a>
    </div>
{% endblock %}