{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>
            <div class="col-md-9">
                <h1>Список видео</h1>
                {% if perms.step.add_videomodel %}
                    <a href="{% url 'step:video_create' %}" class="btn btn-primary">Добавить</a>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for video in videos %}
                        <tr>
                            <td>{{ video.id }}</td>
                            {% if request.user.is_authenticated %}
                                <td><a href="{% url 'step:video_detail' video.id %}">{{ video.video_title }}</a></td>
                            {% endif %}
                            <td>
                                {% if perms.step.change_videomodel %}
                                    <a href="{% url 'step:video_update' video.id %}" class="btn btn-info btn-sm">Изменить</a>
                                {% endif %}
                                {% if perms.step.delete_videomodel %}
                                    <a href="{% url 'step:video_delete' video.id %}" class="btn btn-danger btn-sm">Удалить</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
