{% extends 'moderator_page.html' %}
{% load view_breadcrumbs %}
{% block title %}Список видео{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card mb-5">
        <div class="card-body">
            <div class="card-header">
                <h1>Список видео</h1>
            </div>
            {% if perms.step.add_videomodel %}
                <a href="{% url 'step:videomodel_create' %}" class="btn btn-primary my-3">Добавить</a>
            {% endif %}
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th class="text-end">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for video in videos|dictsort:"id" %}
                    <tr>
                        <td>{{ video.id }}</td>
                        {% if request.user.is_authenticated %}
                            <td><a href="{% url 'step:videomodel_detail' video.id %}">{{ video.video_title }}</a></td>
                        {% endif %}
                        <td class="text-end">
                            {% if perms.step.change_videomodel %}
                                <a href="{% url 'step:videomodel_update' video.id %}" class="btn btn-info btn-sm
                                mb-2">Изменить</a>
                            {% endif %}
                            {% if perms.step.delete_videomodel %}
                                <a href="{% url 'step:videomodel_delete' video.id %}" class="btn btn-danger btn-sm
                                mb-2 ms-2">Удалить</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
