{% extends "base.html" %}
{% block title %}
    Редактировать видео
{% endblock %}
{% block content %}
    {% if perms.step.change_videomodel %}
        <div class="d-flex justify-content-center">
            <div class="container my-5 text-center">
                <h2>Отредактируйте видео:</h2>
                <div class="d-flex justify-content-center">
                    {% include "partials/form.html" with button_text="Добавить видео" %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}