{% extends "base.html" %}
{% load view_breadcrumbs %}
{% block title %}
    {{ video.video_title }}
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include 'partials/sidebar.html' %}
                </div>
                <div class="col-md-9">
                    {% block breadcrumbs %}
                        {% render_breadcrumbs %}
                    {% endblock %}
                    <h1>{{ video.video_title }}</h1>
                    <p>{{ video.video_description }}</p>
{#                    <video width="640" height="360" controls>#}
{#                        <source src="{{ video.video_file.url }}" type="video/mp4" oncontextmenu="return false;">#}
{#                    </video>#}
                    </br>
                    <a href="{% url 'step:videomodel_list' %}">Вернуться к списку видео</a>
                </div>
            </div>
        </div>


        <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="640"
            height="264"
            data-setup="{}"
        >
            <source src="{{ video.video_file.url }}" type="video/mp4" />
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a
              web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
        </video>

    {% endif %}
{% endblock %}