{% extends 'base.html' %}
{% block title %}Модули{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>
            <div class="col-md-9">
                <h1>Список модулей</h1><a href="{% url 'modules:module_create' %}" class="btn btn-primary my-3">Добавить модуль</a>

                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th class="text-end">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in modules %}
                            <tr>
                                <td>{{ module.id }}</td>
                                <td><a href="{% url 'modules:module_detail' module.id %}">{{ module.title }}</a></td>
                                <td class="text-end">
                                    <div class="btn-group">
                                        <a href="{% url 'modules:module_update' module.id %}"
                                           class="btn btn-info btn-sm mx-3">Изменить</a>
                                        <a href="{% url 'modules:module_delete' module.id %}"
                                           class="btn btn-danger btn-sm">Удалить</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
