{% extends 'base.html' %}
{% block title %}Программа курса{% endblock %}
{% block content %}
    {% include 'partials/main_block.html' %}
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="accordion" id="sub-accordionExample">
                            <div>
                                <h1></h1>
                                <ul class="ul_tree p-has-headers">
                                    <li class="li_tree">
                                        <a href="{% url 'modules:step_text'%}" class="header">Пример Текста</a>
                                    </li>
                                    <li class="li_tree">
                                        <a href="{% url 'modules:step_video'%}" class="header">Пример Видео</a>
                                    </li>
                                    <li class="li_tree">
                                        <a href="{% url 'modules:step_file'%}" class="header">Пример Файла</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}