{% extends 'base.html' %}
{% block title %}Курсы{% endblock %}
{% block content %}
    <div class="container">
        <a href="{% url 'modules:module' %}" class="card mb-3 mt-3 link-underline link-underline-opacity-0">
            <div class="row g-0">
                <div class="col-md-3">
                    <h5>Название модуля</h5>
                </div>
                <div class="col-md-6">
                    <div class="card-body border-bottom">
                        <p class="card-text">Описание модуля</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="card-text">Время прохождения</span>
                            </div>
                            <div class="col">
                                <span class="card-text">Уроков</span>
                            </div>
                            <div class="col">
                                <span class="card-text">Тестов</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-body">
                        <p class="card-text">Картинка</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endblock %}