{% extends 'moderator_page.html' %}
{% load view_breadcrumbs %}
{% block title %}Удалить модуль{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
                <div class="card">
                <div class="card-body">
                    <p class="card-text">Вы точно хотите удалить модуль:<span
                            class="text-danger"> {{ module.title }}</span>?
                    </p>

                <form method="POST">
                    {% csrf_token %}
                        <button type="submit" name="delete" class="btn btn-danger me-4" value="yes">Да</button>
                    <a class="btn btn-primary" href="{% url "modules:modulemodel_list" %}">Нет</a>
                </form>
            </div>
                </div>
{% endblock %}
