{% extends 'base.html' %}
{% block title %}Модули{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>
            <div class="col-md-9">
            <h1>Инструкция по редактированию контента</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto autem blanditiis cum
                    distinctio dolor ducimus eius ex fuga hic illum incidunt laborum, magni maiores maxime mollitia
                    nihil nulla officia, possimus quam ratione recusandae sint tempore veritatis voluptates. Adipisci
                    atque distinctio dolorem fuga, id iusto molestias omnis quibusdam soluta tenetur.</p>
            </div>
        </div>
    </div>
{% endblock %}
