<p>Настоящая инструкция предназначена для администраторов данного приложения
    и описывает процесс создания и редактирования контента. Контент включает в себя
    следующие модели:<p>
<ul>
    <li>Модуль</li>
    <li>Целевая аудитория</li>
    <li>Преподаватели</li>
    <li>Курсы</li>
    <li>Главы</li>
    <li>Занятия</li>
    <li>Файлы</li>
    <li>Видео</li>
    <li>Лекции (Тексты)</li>
    <li>Тесты</li>
</ul>
<p>Далее будет рассмотрен алгоритм создания и редактирования каждой из
    вышеперечисленных моделей.</p>