{% load static %}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse"
                data-coreui-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Преподаватели
        </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-coreui-parent="#accordionExample">
        <div class="accordion-body">
            <p style="text-indent: 30px; text-align: justify" class="my-3">
                Для того, чтобы добавить преподавателей, необходимо нажать на
                «Преподаватели» в навигационной панели слева, и выбрать «Создать»:
            </p>
            <img src="{% static "img/instruction/teachers.PNG" %}" alt="teachers" class="mx-auto d-block">
            <p style="text-indent: 30px; text-align: justify" class="my-3">
                Для добавления преподавателя, необходимо заполнить все поля формы:
            </p>
            <img src="{% static "img/instruction/teacher_create.PNG" %}" alt="teacher_create" class="w-100 border
            border-secondary rounded">
            <p style="text-indent: 30px; text-align: justify" class="my-3">
                Для отображения списка преподавателей, необходимо выбрать «Список» из
                вкладки «Преподаватели» навигационной панели слева:
            </p>
            <img src="{% static "img/instruction/teachers_list.png" %}" alt="teachers_list" class="w-100 border
            border-secondary rounded">
            <p style="text-indent: 30px; text-align: justify" class="my-3">
                Здесь доступны функции:
            </p>
            <ul>
                <li>Добавления преподавателя;</li>
                <li>Изменения информации о преподавателе;</li>
                <li>Удаления преподавателя;</li>
                <li>Просмотра информации о преподавателе:</li>
            </ul>
            <img src="{% static "img/instruction/teacher_detail.png" %}" alt="teacher_detail" class="w-100 border
            border-secondary rounded">
            <p style="text-indent: 30px; text-align: justify" class="my-3">
                Функции редактирования и удаления также доступны на странице просмотра
                информации о преподавателе.
            </p>
            <button class="btn btn-secondary mx-2" type="button" data-coreui-toggle="collapse"
                    data-coreui-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Свернуть
            </button>
        </div>
    </div>
</div>