{% extends 'base.html' %}
{% block title %}Подписки{% endblock %}
{% block content %}
    {% include 'partials/main_block.html' %}

    <div class="container">
        <h3>Выдача подписки пользователю:</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ФИО</th>
                <th scope="col">Email</th>
                <th scope="col">Текущая подписка</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if not user.is_superuser %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ user.last_name }} {{ user.first_name }} {{ user.father_name }}</td>
                        <td>{{ user.email }}</td>
                        <td><a href="{% url 'subscription:subscription_user_add' user.pk %}" class="btn btn-success">Выдать подписку</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}