{% extends 'moderator_page.html' %}
{% load view_breadcrumbs %}
{% block title %}Список подписок{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card mb-5">
        <div class="card-body">
            <div class="card-header">
                <h1>Список подписок</h1>
            </div>
            {% if perms.step.add_textmodel %}
                <a href="{% url 'subscription:subscriptionmodel_create' %}" class="btn btn-primary my-3">Добавить</a>
            {% endif %}
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Курс</th>
                    <th>Цена</th>
                    <th>Опубликовано</th>
                    <th class="text-end">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for subscription in subscriptions %}
                    <tr>
                        <td>{{ subscription.id }}</td>
                        <td>{{ subscription.course }}</td>
                        <td>{{ subscription.price }}</td>
                        <td>
                            {% if subscription.is_published %}
                                Опубликовано
                            {% else %}
                                Не опубликовано
                            {% endif %}
                        </td>
                        <td class="text-end">
                            <a href="{% url 'subscription:subscriptionmodel_update' subscription.pk %}"
                               class="btn btn-info btn-sm mx-2">Изменить</a>
                            <a href="{% url 'subscription:subscriptionmodel_delete' subscription.pk %}"
                               class="btn btn-danger btn-sm">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}