{% extends 'moderator_page.html' %}
{% load view_breadcrumbs %}
{% load static %}
{% block title %}Удалить подписку{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card">
        <div class="card-body">
            <p class="card-text">Вы точно хотите удалить подписку на курс:<span
                    class="text-danger"> {{ subscription.course }}</span>?
            </p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="delete" class="btn btn-danger me-4" value="yes">Да</button>
                <a href="#" class="btn btn-secondary
                    mx-3" id="cancel-button">Нет</a>
            </form>
        </div>
    </div>
    <script src="{% static 'js/delete_button_func.js' %}"></script>
{% endblock %}