{% extends 'base.html' %}
{% load static %}
{% block title %}Удаление подписки{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>
            <div class="col-md-9">
                <div class="d-block">
                    <p class="card-text">Вы точно хотите удалить подписку на курс:<span
                            class="text-danger"> {{ subscription.course }}</span>
                    </p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="btn-group" role="group">
                        <button type="submit" name="delete" class="btn btn-danger" value="yes">Да</button>
                    </div>
                    <a class="btn btn-primary"
                       href="{% url "subscription:subscription_detail" subscription.pk %}">Нет</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}