{% extends 'moderator_page.html' %}
{% load static view_breadcrumbs %}
{% block title %}Изменение порядка глав{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h1 class="my-3">Список глав курса {{ course.title }}</h1>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="text-danger"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="draggable-area">
                    <ul class="list-group m-3">
                        {% for chapter in chapters|dictsort:"serial_number" %}
                            <li class="list-group-item row my-2" id ="pk_{{ chapter.id }}">
                                <div class="col-4 d-inline-block">Глава: {{ chapter.title }}</div>
                                <div class="col-3 d-inline-block">Текущий номер: {{ chapter.serial_number }}</div>
                                <div class="col-3 d-inline-block" id="new-number">Новый номер:</div>
                                <input type="hidden" class="number-value">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <button type="submit" class="btn btn-primary my-3">Изменить порядок глав</button>
                <a href="{% url 'modules:coursemodel_detail' course.id %}" class="btn btn-secondary mx-3">Назад</a>
            </form>
        </div>
    </div>
    <script src="{% static 'js/drag_n_drop.js' %}"></script>
{% endblock %}
