{% extends 'moderator_page.html' %}
{% load view_breadcrumbs %}
{% block title %}Курсы{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <h2>Список курсов</h2>
                </div>
                <a href="{% url 'modules:coursemodel_create' %}" class="btn btn-primary my-3">Добавить курс</a>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th class="text-end">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in courses|dictsort:"id" %}
                        <tr>
                            <td>{{ course.id }}</td>
                            <td><a href="{% url 'modules:coursemodel_detail' course.id %}">{{ course.title }}</a></td>
                            <td class="text-end">
                                <div class="btn-group">
                                    <a href="{% url 'modules:coursemodel_update' course.id %}"
                                       class="btn btn-info btn-sm mx-3">Изменить</a>
                                    <a href="{% url 'modules:coursemodel_delete' course.id %}"
                                       class="btn btn-danger btn-sm">Удалить</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
