{% extends 'moderator_page.html' %}
{% load i18n %}
{% load view_breadcrumbs %}
{% block title %}{% trans 'Courses' %}{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <h2>{% trans 'Courses list' %}</h2>
                </div>
                <a href="{% url 'modules:coursemodel_create' %}" class="btn btn-primary my-3">{% trans 'Add course' %}</a>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% trans 'Title' %}</th>
                        <th class="text-end">{% trans 'Actions' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in courses|dictsort:"id" %}
                        <tr>
                            <td>{{ course.id }}</td>
                            <td><a href="{% url 'modules:coursemodel_detail' course.id %}">{{ course.title }}</a></td>
                            <td class="text-end">
                                <div class="btn-group">
                                    <a href="{% url 'modules:coursemodel_preview' course_pk=course.pk chapter_pk=1 %}?page=1"
                                       class="btn btn-info btn-sm mx-3">{% trans 'Course Preview' %}</a>
                                    <a href="{% url 'modules:coursemodel_update' course.id %}"
                                       class="btn btn-info btn-sm mx-3">{% trans 'Change' %}</a>
                                    <a href="{% url 'modules:coursemodel_delete' course.id %}"
                                       class="btn btn-danger btn-sm">{% trans 'Delete' %}</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
