{% extends 'moderator_page.html' %}
{% load view_breadcrumbs %}
{% block title %}Просмотр файла{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    {% if request.user.is_authenticated %}
        <div class="card mb-5">
            <div class="card-body">
                <div class="card-header">
                    <h2>Файл: {{ file.file_title }}</h2>
                </div>
                <a href="{{ file.lesson_file.url }}" download class="btn btn-primary my-3 me-3">Скачать файл</a>
                <a href="{% url 'step:filemodel_list' %}" class="btn btn-secondary">Вернуться к списку файлов</a>
            </div>
        </div>
    {% endif %}
{% endblock %}