{% extends "base.html" %}
{% block title %}
    Просмотр файла
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include 'partials/sidebar.html' %}
                </div>
                <div class="col-md-9">
                    <h1>{{ file.file_title }}</h1>
                    <a href="{{ file.lesson_file.url }}" download=>Скачать файл</a>
                    <a href="{% url 'step:file_list' %}">Вернуться к списку файлов</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}