{% extends 'base.html' %}
{% block title %}Подписки{% endblock %}
{% block content %}
    {% include 'partials/main_block.html' %}

    <div class="container">
        <h3>Выдача подписки пользователю:</h3>
        <table class="table">
            <thead>
            <tr>

                <th scope="col">{{ user.last_name }} {{ user.first_name }} {{ user.father_name }}</th>
                <th scope="col">{{ user.email }}</th>
                <th scope="col">
                    {% if user.subscriptions.all %}{% for subscription in user.subscriptions.all %}{{ subscription }}
                        {% if forloop.first and not forloop.last %},
                        {% endif %}{% endfor %}{% else %}
                        Активных подписок нет{% endif %}</th>
            </tr>
            </thead>
        </table>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Курс</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Модуль</th>
                    <th scope="col">ЦА</th>
                    <th scope="col">Доступ</th>
                </tr>
                </thead>
                {% for subscription in subscriptions %}
                    <form id="my_form_{{ subscription.id }}" class="d-flex" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="button" form="my_form_{{ subscription.id }}"
                                       value="{{ subscription.id }}">
                    </form>
                    <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ subscription.course }}</td>
                        <td>{{ subscription.course.description }}</td>
                        <td>{{ subscription.course.module_id }}</td>
                        <td>{{ subscription.course.courseTarget_id }}</td>
                        <td>

                            <button type="submit" class="btn btn-success" form="my_form_{{ subscription.id }}">
                                Предоставить доступ
                            </button>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
    </div>
{% endblock %}