{{% extends 'moderator_page.html' %}
{% load custom_tags view_breadcrumbs %}
{% block title %}Выдача подписки пользователю{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card mb-5">
        <div class="card-body">
            <div class="card-header">
                <h2>Выдача подписки пользователю:</h2>
            </div>
            <div class="table-responsive mb-5">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Email</th>
                        <th scope="col">Подписки</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {{ user.last_name }} {{ user.first_name }}
                            {% if user.father_name %}
                                {{ user.father_name }}
                            {% endif %}
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user_subscriptions %}
                                {% for user_subcription in user_subscriptions %}
                                    {% if user_subcription.is_active %}
                                        {{ user_subcription.subscription }}
                                    {% else %}
                                        Активных подписок нет
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Курс</th>
                    <th scope="col">Модуль</th>
                    <th scope="col">Доступ</th>
                </tr>
                </thead>
                {% for subscription in subscriptions %}
                    <form id="my_form_{{ subscription.id }}" class="d-flex" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="button" form="my_form_{{ subscription.id }}"
                               value="{{ subscription.id }}">
                        <tbody>
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ subscription.course }}</td>
                            <td>{{ subscription.course.module_id }}</td>
                            <td>
                                <button type="submit" class="btn btn-success">
                                    Предоставить доступ
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </form>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
