{% extends 'moderator_page.html' %}
{% load custom_tags view_breadcrumbs %}
{% block title %}Выдача подписки пользователям{% endblock %}
{% block moderator_interface %}
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
    <div class="card mb-5">
        <div class="card-body">
            <div class="card-header">
                <h2>Выдача подписки пользователю:</h2>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Email</th>
                    <th scope="col">Текущая подписка</th>
                    <th scope="col">Подписка</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ user.last_name }} {{ user.first_name }} {{ user.father_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <p>
                                {% if user|user_subs %}
                                    {{ user|user_subs }}
                                {% else %}
                                    Активных подписок нет.
                                {% endif %}
                            </p>
                        </td>
                        {% if user|user_subs %}
                            <td><a href="{% url 'subscription:subscriptionmodel_user_delete' user.pk %}"
                                   class="btn btn-success">Закрыть
                                доступ</a></td>
                        {% else %}
                            <td><a href="{% url 'subscription:subscriptionmodel_user_add' user.pk %}"
                                   class="btn btn-success">Предоставить
                                доступ</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}