{% extends "base.html" %}
{% block link %}
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url "test_bim:test_create" %}">Добавить новый тест</a>
        </li>
{% endblock %}
{% block content %}
<h2>Список тестов</h2>
    <a class="col link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url "test_bim:test_create" %}">
        <button type="submit" class="btn btn-primary">Добавить новый тест</button>
    </a>
{% for test in tests %}
    <div class="row justify-content-center mt-1">
        <div class="card">
            <h3 class="card-title">
                {{ test.title }}
            </h3>
            <div class="card-body">
                <a href="{% url 'test_bim:test_detail' pk=test.pk %}" class="col link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    <button type="submit" class="btn btn-primary">Подробнее</button>
                </a>
                <a href="{% url 'test_bim:test_update' pk=test.pk %}" class="col link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    <button type="submit" class="btn btn-primary">Редактировать</button>
                </a>
                <a href="{% url 'test_bim:test_delete' pk=test.pk %}" class="col link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}