{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Статистика{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>

            <div class="col-md-9">

                <!--Cards-->
                <div class="row g-5 g-xl-8">
                    <div class="col-xl-6">
                        {% include 'partials/statistics/statistics_card.html' with score=registered_users_qty title='Количество пользователей' icon='<i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>' %}
                    </div>
                    <div class="col-xl-6">
                        {% include 'partials/statistics/statistics_card.html' with score=active_subscribers_qty title='Количество пользователей с действующей подпиской' icon='<i class="fa-solid fa-user-graduate text-gray-100 fs-2 ms-n1"></i>' %}
                    </div>
                </div>

            <!--New customers chart-->
            <div class="row g-5 g-xl-8">
                <div class="col-xl-6">
                    <div class="card card-xl-stretch mb-xl-8">
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold fs-3 mb-1">Новые пользователи</span>
{#                                    <span class="text-muted fw-semibold fs-7">More than 1000 new records</span>#}
                            </h3>
                            <div class="card-toolbar" data-kt-buttons="true">
                                <a class="btn btn-sm btn-color-muted btn-active btn-active-primary active px-4 me-1" id="new-users-chart-week">Неделя</a>
                                <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1" id="new-users-chart-month">Месяц</a>
                                <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4" id="new-users-chart-half-year">Пол года</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="new-users-chart" style="height: 350px"></div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="{% url 'reports:stats_users_list' %}" class="btn btn-primary">Список пользователей</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/statistics_js/stats_users_main.js' %}"></script>
{% endblock %}