{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Статистика{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>

            <div class="col-md-9">
                <!--Users table-->
                <div class="table-responsive">
                    <table class="table border mb-0" id="UserStatisticsTable">
                      <thead class="table-light fw-semibold">
                        <tr class="align-middle">
                          <th>User</th>
                          <th>Email</th>
                          <th>Country</th>
                          <th>Course</th>
                          <th>Activity</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for person in people %}
                        <tr class="align-middle">
                          <td>
                            <div>{{ person.get_full_name }}</div>
                            <div class="small text-medium-emphasis">Registered: {{ person.date_joined }}</div>
                          </td>
                          <td class="text-left">
                            <div>{{ person.email }}</div>
                          </td>
                          <td class="text-center">
                            <div>{{ person.country }}</div>
                          </td>
                          <td class="text-center">
                            <div>{{ person.get_current_course }}</div>
                          </td>
                          <td>
                            <div class="small text-medium-emphasis">Last login</div>
                            <div class="fw-semibold">{{ person.last_login }}</div>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready( function () {
            $('#UserStatisticsTable').DataTable();
        } );
    </script>
{% endblock %}
