<div hx-target="this" class="mt-3" id="question_detail">
    <div class="card">
        <div class="card-body">
            <h3 class="">
                {{ question.title }}
            </h3>
            <div class="mt-2">
                <button hx-get="{% url 'quiz_bim:answerbim_htmx_create' question.id %}" hx-swap="beforeend"
                        hx-target="#answerforms_{{ question.id }}"
                        class="btn btn-primary">
                    Добавить ответ
                </button>
                <button hx-get="{% url 'quiz_bim:questionbim_htmx_update' question.test_bim.pk question.id %}"
                        hx-swap="outerHTML"
                        class="btn btn-primary">
                    Изменить
                </button>
                <button hx-post="{% url 'quiz_bim:questionbim_htmx_delete' question.test_bim.pk question.id %}"
                        hx-swap="outerHTML swap:1s"
                        class="btn btn-primary" id="delete-question">
                    Удалить
                </button>
                <div id="answerforms_{{ question.id }}" class="col"></div>

                <div class="mt-5 py-5 border-t border-gray-100">
                    {% for answer in answers %}
                        {% if answer.question_bim == question %}
                            {% include "quiz_bim/answer_bim/answer_bim_detail.html" %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>