<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-lg-0 mb-5 mt-3 mt-md-5 mt-lg-0">
                <ul class="nav flex-column bg-white border-radius-lg p-3 position-sticky top-10 shadow-lg">
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll=""
                           href="#link_1">
                            <i class="material-icons text-dark opacity-5 pe-2">description</i>
                            General Provisions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_2">
                            <i class="material-icons text-dark opacity-5 pe-2">description</i>
                            Basic Terms and Definitions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_3">
                            <i class="material-icons text-dark opacity-5 pe-2">description</i>
                            Legal Basis for Personal Data Processing
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_4">
                            <i class="material-icons text-dark opacity-5 pe-2">description</i>
                            Purposes of processing, categories and list of processed personal data, categories of
                            subjects, methods, terms of their processing
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_5">
                            <i class="material-icons text-dark opacity-5 pe-2">description</i>
                            Procedure and conditions of personal data processing
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_6">
                            <i class="material-icons text-dark opacity-5 pe-2">description</i>
                            Measures to ensure confidentiality and security of personal data during their
                            processing
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_7">
                            <i class="material-icons text-dark opacity-5 pe-2">description</i>
                            Rights and obligations of personal data subjects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_8">
                            <i class="material-icons text-dark opacity-5 pe-2">description</i>
                            Final provisions
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="card shadow-lg mb-5">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                        <div class="bg-azure-crayola shadow-info border-radius-lg p-3">
                            <h3 class="text-white mb-0 heading">Personal Data Processing Policy</h3>
                            <p class="text-white opacity-8 mb-0 content">Last update: October 23th 2023</p>
                        </div>
                    </div>
                    <div class="card-body p-5 pt-0">
                        <h3 class="mt-5 mb-3 heading" id="link_1"> 1. General Provisions</h3>
                        <ol class="text-justify content" style="list-style-type: none">
                            <li><strong class="text-dark">1.1.</strong> This Personal Data Processing Policy
                                (hereinafter referred to as the Policy) of LLC BIMSTANDARD, located at: Bishkek,
                                Sverdlovsky District, Suumbayeva Street, House 16, Apartment 136 (hereinafter
                                referred to as the Operator or Organization), is an official document that
                                defines the general principles, objectives, and procedures for processing the
                                personal data of users of the internet resource (hereinafter referred to as the
                                website), as well as information about the implemented measures to protect
                                personal data.
                            </li>
                            <br>
                            <li><strong class="text-dark">1.2.</strong> The Policy is developed in accordance
                                with the legislation of the Kyrgyz Republic on personal data.
                            </li>
                            <br>
                            <li><strong class="text-dark">1.3.</strong> This Policy applies exclusively to the
                                website. The Operator does not control and is not responsible for third-party
                                websites that the User may access through links available on the website.
                            </li>
                            <br>
                            <li><strong class="text-dark">1.4.</strong> The Operator does not control and is not
                                responsible for the video materials posted on the website, to which the User may
                                access through links available on the website.
                            </li>
                            <br>
                            <li><strong class="text-dark">1.5.</strong> The processing of personal data of other
                                categories of data subjects by the Operator is regulated by other local acts of
                                the Operator.
                            </li>
                            <br>
                            <li><strong class="text-dark">1.6.</strong> This Policy comes into effect from the
                                moment of its approval and is valid indefinitely until replaced by a new Policy.
                            </li>
                        </ol>
                        <h3 class="mt-5 mb-3 heading" id="link_2"> 2. Basic Terms and Definitions</h3>
                        <ol class="text-justify content" style="list-style-type: none">
                            <li><strong class="text-dark">2.1.</strong> The following terms are used in this
                                Policy:
                            </li>
                            <br>
                            <ol style="list-style-type: none">
                                <li><strong class="text-dark">Personal Data Processing</strong> - any action
                                    (operation) or a set of actions (operations) performed with personal data,
                                    with or without the use of automation tools, including the collection,
                                    recording, systematization, accumulation, storage, clarification (updating,
                                    modification), extraction, use, transfer (distribution, provision, access),
                                    depersonalization, blocking, deletion, destruction of personal data.
                                </li>
                                <br>
                                <li><strong class="text-dark">Destruction of Personal Data</strong> - actions
                                    that make it impossible to restore the content of personal data in the
                                    information system of personal data and/or actions resulting in the
                                    destruction of material carriers of personal data.
                                </li>
                                <br>
                                <li><strong class="text-dark">Personal Data Operator (Operator)</strong> - a
                                    government body, municipal body, legal entity, or individual, either
                                    independently or jointly with others, organizing and/or carrying out the
                                    processing of personal data, as well as determining the purposes of
                                    processing personal data, the composition of personal data subject to
                                    processing, and actions (operations) performed with personal data.
                                </li>
                                <br>
                                <li><strong class="text-dark">Personal Data</strong> - any information related to
                                    a directly or indirectly identified or identifiable individual (personal data
                                    subject).
                                </li>
                                <br>
                                <li><strong class="text-dark">Website User</strong> - any person visiting the
                                    website and using the information, materials, and services of the website.
                                </li>
                                <br>
                                <li><strong class="text-dark">Website</strong> - a set of interconnected web
                                    pages posted on the Internet under a unique address (URL), as well as its
                                    subdomains.
                                </li>
                                <br>
                                <li><strong class="text-dark">Cookie</strong> - a small piece of data sent by a
                                    web server and stored on the user's computer, which the web client or web
                                    browser sends to the web server with each HTTP request when trying to open a
                                    page of the corresponding website.
                                </li>
                                <br>
                                <li><strong class="text-dark">IP Address</strong> - a unique network address of a
                                    node in a computer network through which the user gains access to the website.
                                </li>
                                <br>
                                <li><strong class="text-dark">ISPD</strong> - information system of personal data.
                                </li>
                            </ol>
                        </ol>
                        <h3 class="mt-5 mb-3 text-justify heading" id="link_3"> 3. Legal Basis for Personal Data
                            Processing</h3>
                        <ol class="text-justify content" style="list-style-type: none">
                            <li><strong class="text-dark">3.1.</strong> The legal grounds for the Operator's
                                processing of personal data include:<br><br>
                                <ul>
                                    <li>The Law of the Kyrgyz Republic dated April 14, 2008, No. 58 "On Personal
                                        Data";
                                    </li>
                                    <br>
                                    <li>User Agreement posted on the Operator's website and accepted by the
                                        Personal Data Subject when using the website;
                                    </li>
                                    <br>
                                    <li>Local acts of the Operator;</li>
                                    <br>
                                    <li>Republic laws, other regulatory legal acts in the field of personal data
                                        protection;
                                    </li>
                                    <br>
                                    <li>Consent of Users to the processing of their personal data, for the
                                        processing of personal data allowed for distribution.
                                    </li>
                                    <br></ul>
                            </li>
                        </ol>
                        <h3 class="mt-4 mb-3 text-justify heading" id="link_4">4. Purposes of processing,
                            categories and list of processed personal data, categories of subjects, methods,
                            terms of their processing</h3>
                        <ol class="text-justify content" style="list-style-type: none">
                            <li><strong class="text-dark">4.1.</strong> Personal data is processed by the
                                Operator for the following purposes:
                            </li>
                            <br>
                            <li><strong class="text-dark">4.1.1.</strong>Registration on the website:
                                <br>
                                Categories of processed personal data: publicly available personal data,
                                other personal data.
                                <br>
                                List of processed personal data: e-mail address; location information; type,
                                version, language of operating system, browser; type of device and its screen
                                resolution; pages opened by the user; IP-address; User's Hash-ID; time of
                                web-page viewing; URL; HTTP referer; User Agent; HTTP Cookie;
                                <br>
                                Categories of personal data subjects: site users. Methods of personal data
                                processing: automated;
                                <br>
                                Periods of processing and storage: until the purposes of personal data processing
                                are achieved or until the consent is revoked;
                                <br>
                                <br>
                                <h6 class="content">Procedure for destruction of personal data: see Section 4.2;
                                </h6>
                            </li>
                            <br>
                            <li><strong class="text-dark">4.1.2.</strong> Subscription to marketing/advertising
                                mailing list Categories of processed personal data:
                                <br>
                                Other personal data. List of processed personal data: e-mail address. Categories
                                of personal data subjects: website users;
                                <br>
                                Methods of personal data processing: automated;
                                <br>
                                Periods of processing and storage: until the purposes of personal data processing
                                are achieved, or until consent is withdrawn.
                                <br>
                                <br>
                                <h6 class="content">Procedure for destruction of personal data: see Section 4.2
                                    .</h6>
                            </li>
                            <br>
                            <li><strong class="text-dark">4.1.3.</strong> ВKeeping statistics and analyzing the
                                work of the site, including software placed on the site, improving the work of
                                the site, adapting the site to the user needs, preferences and interests.
                                <br><br>
                                Categories of processed personal data: publicly available personal data,
                                other personal data.
                                <br>
                                List of processed personal data: e-mail address; location information; type,
                                version, language of operating system, browser; type of device and its screen
                                resolution; pages opened by the user; IP-address; User's Hash-ID; time of
                                web-page viewing; URL; HTTP referer; User Agent; HTTP Cookie;
                                <br>
                                Categories of personal data subjects: site users. Methods of personal data
                                processing: automated;
                                <br>
                                Periods of processing and storage: until the purposes of personal data processing
                                are achieved or until the consent is revoked;
                                <br>
                                <br>
                                <h6 class="content">Procedure for destruction of personal data: see Section 4.2;
                                </h6>
                            </li>
                            <br>
                            <li><strong class="text-dark">4.1.4.</strong> Conducting marketing/advertising
                                activities, statistical and analytical surveys and studies
                                <br>
                                Categories of processed personal data: publicly available personal data,
                                other personal data.
                                <br>
                                List of processed personal data: e-mail address; location information; type,
                                version, language of operating system, browser; type of device and its screen
                                resolution; pages opened by the user; IP-address; User's Hash-ID; time of
                                web-page viewing; URL; HTTP referer; User Agent; HTTP Cookie;
                                <br>
                                Categories of personal data subjects: site users. Methods of personal data
                                processing: automated;
                                <br>
                                Periods of processing and storage: until the purposes of personal data processing
                                are achieved or until the consent is revoked;
                                <br>
                                <br>
                                <h6 class="content">Procedure for destruction of personal data: see Section 4.2;
                                </h6></li>
                            <br>
                            <li><strong class="text-dark">4.1.5.</strong> Carrying out marketing/advertising
                                activities by monitoring the behavior of the target audience, enriching data
                                about them (including segmentation and scoring) and targeting such audience,
                                including by showing them personalized and non-personalized advertising.
                                <br><br>
                                Categories of processed personal data: publicly available personal data, other
                                personal data.
                                <br><br>
                                List of processed personal data: e-mail address; location information; type,
                                version, language of operating system, browser; type of device and its screen
                                resolution; pages opened by the user; IP-address; User's Hash-ID; time of
                                web-page viewing; URL; HTTP referer; User Agent; HTTP Cookie.
                                <br><br>
                                Categories of personal data subjects: site users.
                                <br><br>
                                Methods of personal data processing: automated.
                                <br><br>
                                Periods of processing and storage: until the purposes of personal data processing
                                are achieved or until consent is withdrawn.<br>
                                <h6 class="content">Procedure for destruction of personal data: see Section 4.2;
                                </h6>
                            </li>
                            <br>
                            <li><h5 class="heading">4.2. Destruction and procedure of destruction:<br></h5></li>
                            <br>
                            <li><strong class="text-dark">4.2.1.</strong> The Operator stops processing personal
                                data, destroys personal data carriers and deletes them from personal data
                                information systems in cases of:
                                <ul><br>
                                    <li>achievement of the purposes of personal data processing or the maximum
                                        storage period - within 30 days;
                                    </li>
                                    <br>
                                    <li>- loss of necessity to achieve the purposes of personal data processing -
                                        within 30 days;
                                    </li>
                                    <br>
                                    <li>provision by the personal data subject or his/her legal representative of
                                        information confirming that personal data are illegally obtained or are
                                        not necessary for the stated purpose of processing - within 7 days;
                                    </li>
                                    <br>
                                    <li>inability to ensure the lawfulness of personal data processing - within
                                        10 days;
                                    </li>
                                    <br>
                                    <li>revocation of the personal data subject's consent to the processing of
                                        his/her personal data - within 30 days;
                                    </li>
                                    <br>
                                    <li>expiration of limitation periods for legal relations within the framework
                                        of which personal data processing is or was carried out.
                                    </li>
                                </ul>
                            </li>
                            <br>
                            <li><strong class="text-dark">4.2.2.</strong> The Operator shall not terminate the
                                processing of personal data and shall not destroy it in the following cases:
                                <ul><br>
                                    <li> if otherwise provided for by the contract to which the personal data
                                        subject is a party;
                                    </li>
                                    <br>
                                    <li>
                                        if the Operator has the right to process personal data without the
                                        consent of the personal data subject on the grounds stipulated by the
                                        legislation of the Kyrgyz Republic;
                                    </li>
                                    <br>
                                    <li>if the terms of processing of personal data of the subject of personal
                                        data, established by the legislation of the Russian Federation, have not
                                        expired.
                                    </li>
                                    <br>
                                </ul>
                            <li><strong class="text-dark">4.2.3.</strong> Destruction of personal data processed
                                by automated means shall be organized by a commission for destruction of personal
                                data from the Operator's employees, established by order. Personal data shall be
                                destroyed by means of the operating system and/or database management system. The
                                documents confirming the destruction of personal data of personal data subjects
                                processed by automated means are the act of personal data destruction and download
                                from the logbook of events in the personal data information system.<br><br>
                            <li><strong class="text-dark">4.2.4.</strong> The act of personal data destruction
                                and download from the log shall be stored for 3 years from the moment of personal
                                data destruction.
                            </li>
                        </ol>
                        <h3 class="mt-5 mb-3 text-justify heading" id="link_5"> 5. Procedure and conditions of
                            personal data processing</h3>
                        <ol class="text-justify content" style="list-style-type: none">
                            <li><strong class="text-dark">5.1.</strong> Processing of personal data shall be
                                carried out by the Operator in accordance with the requirements of the
                                legislation of the Kyrgyz Republic.<br></li>
                            <br>
                            <li><strong class="text-dark">5.2.</strong> Processing of personal data is carried
                                out with the consent of the Personal Data Subjects to the processing of their
                                personal data, as well as without it in cases stipulated by the legislation of
                                the Russian Federation.<br></li>
                            <br>
                            <li><strong class="text-dark">5.2.1.</strong> The Operator processes the User's
                                personal data only if it is filled in and/or sent by the User through special
                                forms located on the website or sent to the Operator by e-mail. By filling in the
                                relevant forms and/or sending his/her personal data to the Operator, the User
                                expresses his/her consent to this Policy.<br></li>
                            <br>
                            <li><strong class="text-dark">5.2.2.</strong> The subject of personal data
                                independently decides on the provision of his/her personal data and gives his/her
                                consent freely, of his/her own free will and in his/her own interest.<br></li>
                            <br>
                            <li><strong class="text-dark">5.3.</strong> Consent to the processing of personal
                                data authorized by the subject of personal data for dissemination shall be
                                executed separately from other consents of the Personal Data Subject to the
                                processing of his/her personal data.<br></li>
                            <br>
                            <li><strong class="text-dark">5.4.</strong> Consent to the processing of personal data
                                authorized by the Personal Data Subject for dissemination may be provided to the
                                Operator:
                                <ul><br>
                                    <li>directly;<br></li>
                                    <br>
                                    <li>using the information system of the authorized body for the protection of the
                                        rights of personal data subjects.
                                    </li>
                                </ul>
                            </li>
                            <br>
                            <li><strong class="text-dark">5.5.</strong> The Operator shall carry out automated
                                processing of personal data.<br></li>
                            <br>
                            <li><strong class="text-dark">5.6.</strong> The Operator's employees whose job description
                                includes personal data processing are allowed to process personal data.<br></li>
                            <br>
                            <li><strong class="text-dark">5.7.</strong> Processing of personal data shall be carried
                                out by:
                                <ul>
                                    <br>
                                    <li>receiving personal data in writing directly with the consent of the Personal
                                        Data Subject to the processing or dissemination of his/her personal data;
                                    </li>
                                    <br>
                                    <li>entering personal data into the Operator's journals, registers and information
                                        systems;
                                    </li>
                                    <br>
                                    <li>using other methods of personal data processing.
                                </ul>
                            </li>
                            <br>
                            <li><strong class="text-dark">5.8.</strong>The Operator performs the following actions with
                                personal data: collection, recording, systematization, accumulation, storage,
                                clarification (update, change), extraction, use, transfer (provision, access), blocking,
                                deletion, destruction.<br></li>
                            <br>
                            <li><strong class="text-dark">5.9.</strong> Personal data of personal data subjects
                                processed with the use of automation tools for different purposes shall be stored in
                                different folders.<br></li>
                            <br>
                            <li><strong class="text-dark">5.10.</strong> It is not allowed to store and place documents
                                containing personal data in open electronic catalogs.<br></li>
                            <br>
                            <li><strong class="text-dark">5.11.</strong> Personal data shall be stored in a form that
                                allows identification of the Personal Data Subject for no longer than required by the
                                purposes of personal data processing.<br></li>
                            <br>
                            <li><strong class="text-dark">5.12.</strong> Processing of biometric personal data and
                                special categories of personal data relating to race, nationality, political views,
                                religious or philosophical beliefs, state of health, intimate life is not carried out on
                                the website.<br></li>
                            <br>
                            <li><strong class="text-dark">5.13.</strong> The Operator does not process personal data for
                                the purposes of political agitation.<br></li>
                            <br>
                            <li><strong class="text-dark">5.14.</strong> The Operator does not check the reliability of
                                the information provided by the User and assumes that the User provides reliable and
                                sufficient information, controls its relevance.<br></li>
                            <br>
                            <li><strong class="text-dark">5.15.</strong> The Operator does not check the reliability of
                                the information provided by the User and assumes that the User provides reliable and
                                sufficient information, controls its relevance.<br></li>
                            <br>
                            <li><strong class="text-dark">5.16.</strong> The Operator has the right to transfer personal
                                data to inquiry and investigation bodies, other authorized bodies on the grounds
                                provided for by the current legislation of the Kyrgyz Republic.
                            </li>
                        </ol>

                        <h3 class="mt-5 mb-3 text-justify heading" id="link_6">6. Measures to ensure confidentiality and
                            security of personal data during their processing</h3>
                        <ol class="text-justify content" style="list-style-type: none">
                            <li><strong class="text-dark">6.1. </strong>Security of personal data processed by the
                                Operator shall be ensured by implementation of legal, organizational, technical and
                                software measures necessary and sufficient to ensure the requirements of the legislation
                                of the Kyrgyz Republic.
                            </li>
                            <br>
                            <li><strong class="text-dark">6.2. </strong>The Operator shall take the following measures
                                to ensure security of personal data
                            </li>
                            <br>
                            <ul>
                                <li>appointment of persons responsible for organization of processing and for ensuring
                                    personal data security;
                                </li>
                                <br>
                                <li>determination of the list of employees having access to personal data;
                                </li>
                                <br>
                                <li>development and approval of organizational and administrative documents defining the
                                    procedure of personal data processing;
                                </li>
                                <br>
                                <li>determining the level of personal data protection during processing in personal data
                                    information systems;
                                </li>
                                <br>
                                <li>establishing the rules of access differentiation to the personal data processed in
                                    the information systems of personal data and ensuring the registration and recording
                                    of all actions performed with personal data;
                                </li>
                                <br>
                                <li>restricting access to the premises where the main technical means and systems of
                                    personal data information systems are located;
                                </li>
                                <br>
                                <li>
                                    organization of backup and recovery of personal data information systems and
                                    personal data modified or destroyed due to unauthorized access to them;
                                </li>
                                <br>
                                <li>establishing requirements to the complexity of passwords for access to personal data
                                    information systems;
                                </li>
                                <br>
                                <li>implementation of anti-virus control, prevention of introduction of malicious
                                    programs (virus programs) and program tabs into the corporate network;
                                </li>
                                <br>
                                <li>
                                    organization of timely updating of software used in personal data information
                                    systems and information protection means;
                                </li>
                                <br>
                                <li>
                                    regular assessment of the effectiveness of measures taken to ensure personal data
                                    security;
                                </li>
                                <br>
                                <li>detecting the facts of unauthorized access to personal data and taking measures to
                                    identify the causes and eliminate possible consequences;
                                </li>
                                <br>
                                <li>control over the measures taken to ensure personal data security and security levels
                                    of personal data information systems.
                                </li>
                            </ul>
                        </ol>
                        <h3 class="mt-5 mb-3 text-justify heading" id="link_7"> 7. Rights and obligations of personal
                            data subjects</h3>
                        <ol class="text-justify content" style="list-style-type: none">
                            <li><strong class="text-dark">7.1.</strong> The website user has the right to receive
                                information regarding the processing of his/her personal data, except as provided by
                                laws, including information containing:
                            </li>
                            <br>
                            <ul>
                                <li>confirmation of the fact of personal data processing by the Operator;
                                </li>
                                <br>
                                <li>legal grounds and purposes of personal data processing;</li>
                                <br>
                                <li>the purposes and methods of personal data processing applied by the Operator;
                                </li>
                                <br>
                                <li>name and location of the Operator, information about persons (except for the
                                    Operator's employees) who have access to personal data or to whom personal data may
                                    be disclosed on the basis of a contract with the Operator or on the basis of a
                                    federal law;
                                </li>
                                <br>
                                <li>personal data being processed relating to the respective personal data subject, the
                                    source of their obtaining, unless another procedure for submission of such data is
                                    provided for by the federal law;
                                </li>
                                <br>
                                <li>the terms of personal data processing, including the terms of their storage;
                                </li>
                                <br>
                                <li>the procedure for exercising by the subject of personal data the rights provided for
                                    by the Federal Law "On Personal Data";
                                </li>
                                <br>
                                <li>information on the realized or supposed trans-border transfer of personal data;
                                </li>
                                <br>
                                <li>the name or surname, first name, patronymic and address of the person who processes
                                    personal data on behalf of the Operator, if the processing has been or will be
                                    entrusted to such a person;
                                </li>
                            </ul>
                            <br>
                            <li><strong class="text-dark">7.2.</strong> All questions regarding the processing of
                                personal data should be addressed to: s.alexey@bimstandard.xyz.
                            </li>
                        </ol>

                        <h3 class="mt-5 mb-3 heading" id="link_8"> 8. Final provisions</h3>
                        <ol class="text-justify content" style="list-style-type: none">
                            <li><strong class="text-dark">8.1.</strong> The Policy is a publicly available document and
                                is subject to posting on the website.
                            </li>
                            <br>
                            <li><strong class="text-dark">8.2.</strong>
                                The Operator has the right to amend this Policy unilaterally.
                            </li>
                            <br>
                            <li><strong class="text-dark">8.3.</strong> Control over the fulfillment of the requirements
                                of this Policy shall be exercised by the person responsible for the organization of
                                personal data processing.
                            </li>
                            <br>
                            <li><strong class="text-dark">8.4.</strong> Persons guilty of violating the norms governing
                                the processing and protection of personal data shall be held liable in accordance with
                                the procedure established by the legislation of the Kyrgyz Republic.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>