<section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-lg-0 mb-5 mt-3 mt-md-5 mt-lg-0">
                    <ul class="nav flex-column bg-white border-radius-lg p-3 position-sticky top-10 shadow-lg">
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll=""
                               href="#link_1">
                                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                                Общие положения
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_2">
                                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                                Основные термины и определения
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_3">
                                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                                Правовые основания обработки персональных данных
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_4">
                                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                                Цели обработки, категории и перечень обрабатываемых персональных данных, категории
                                субъектов, способы, сроки их обработки
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_5">
                                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                                Порядок и условия обработки персональных данных
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_6">
                                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                                Меры по обеспечению конфиденциальности и безопасности персональных данных при их
                                обработке
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_7">
                                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                                Права и обязанности субъектов персональных данных
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_8">
                                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                                Заключительные положения
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <div class="card shadow-lg mb-5">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                            <div class="bg-azure-crayola shadow-info border-radius-lg p-3">
                                <h3 class="text-white mb-0 heading">Политика в отношении обработки персональных данных</h3>
                                <p class="text-white opacity-8 mb-0 content">Последнее обновление: 25 Октября 2023</p>
                            </div>
                        </div>
                        <div class="card-body p-5 pt-0">
                            <h3 class="mt-5 mb-3 heading" id="link_1"> 1. Общие положения</h3>
                            <ol class="text-justify content" style="list-style-type: none">
                                <li><strong class="text-dark">1.1.</strong> Настоящая политика в отношении
                                    обработки персональных данных (далее – Политика) ОсОО «БИМСТАНДАРД», адрес (место
                                    нахождения): Бишкек, Свердловский Район, ул.Суюмбаева, дом 16 кв. 136 (далее –
                                    Оператор, Организация) является официальным документом, в котором определены общие
                                    принципы, цели и порядок обработки персональных данных пользователей интернет
                                    ресурса
                                    (далее – сайт), а также сведения о реализуемых мерах защиты персональных данных.
                                </li>
                                <br>
                                <li><strong class="text-dark">1.2.</strong> Политика разработана в соответствии
                                    с законодательством Кыргызской Республики в области персональных данных.
                                </li>
                                <br>
                                <li><strong class="text-dark">1.3.</strong> Настоящая Политика применяется
                                    исключительно к сайту. Оператор не контролирует и не несет ответственность за сайты
                                    третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте.
                                </li>
                                <br>
                                <li><strong class="text-dark">1.4.</strong> Оператор не контролирует и не
                                    несет ответственность за размещенные на сайте видеоматериалы, на которые
                                    Пользователь
                                    может перейти по ссылкам, доступным на сайте.
                                </li>
                                <br>
                                <li><strong class="text-dark">1.5.</strong> Обработка Оператором персональных
                                    данных других категорий субъектов персональных данных регламентирована другими
                                    локальными актами Оператора.
                                </li>
                                <br>
                                <li><strong class="text-dark">1.6.</strong> Настоящая Политика вступает в силу с
                                    момента ее утверждения и действует бессрочно, до замены ее новой Политикой.
                                </li>
                            </ol>
                            <h3 class="mt-5 mb-3 heading" id="link_2"> 2. Основные термины и определения</h3>
                            <ol class="text-justify content" style="list-style-type: none">
                                <li><strong class="text-dark">2.1.</strong> В настоящей Политике используются
                                    следующие термины:
                                </li>
                                <br>
                                <ol style="list-style-type: none">
                                    <li><strong class="text-dark">Обработка персональных данных</strong> – любое
                                        действие (операция) или совокупность действий (операций), совершаемых с
                                        использованием средств автоматизации или без использования таких средств с
                                        персональными данными, включая сбор, запись, систематизацию, накопление,
                                        хранение, уточнение (обновление, изменение), извлечение, использование, передачу
                                        (распространение, предоставление, доступ), обезличивание, блокирование,
                                        удаление, уничтожение персональных данных.
                                    </li>
                                    <br>
                                    <li><strong class="text-dark">Уничтожение персональных данных</strong> – действия, в
                                        результате которых становится невозможным восстановить содержание персональных
                                        данных в информационной системе персональных данных и (или) в результате которых
                                        уничтожаются материальные носители персональных данных.
                                    </li>
                                    <br>
                                    <li><strong class="text-dark">Оператор персональных данных (Оператор)</strong> –
                                        государственный орган, муниципальный орган, юридическое или физическое лицо,
                                        самостоятельно или совместно с другими лицами организующие и (или)
                                        осуществляющие обработку персональных данных, а также определяющие цели
                                        обработки персональных данных, состав персональных данных, подлежащих обработке,
                                        действия (операции), совершаемые с персональными данными.<br> Субъект
                                        персональных данных – физическое лицо, гражданин Российской Федерации имеет
                                        право на обеспечение защиты его прав и свобод при обработке его персональных
                                        данных, защиты прав на неприкосновенность частной жизни, личную и семейную
                                        тайну.
                                    </li>
                                    <br>
                                    <li><strong class="text-dark">Персональные данные</strong> – любая информация,
                                        относящаяся к прямо или косвенно определенному, или определяемому физическому
                                        лицу (субъекту персональных данных).
                                    </li>
                                    <br>
                                    <li><strong class="text-dark">Пользователь сайта</strong> – любое лицо, посещающее
                                        сайт и использующее информацию, материалы и сервисы сайта.
                                    </li>
                                    <br>
                                    <li><strong class="text-dark">Сайт</strong> – совокупность связанных между собой
                                        веб-страниц, размещенных в сети Интернет по уникальному адресу (URL), а также
                                        его субдоменах.
                                    </li>
                                    <br>
                                    <li><strong class="text-dark">Cookie</strong> – небольшой фрагмент данных,
                                        отправленный веб-сервером и хранимый на компьютере Пользователя, который
                                        веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при
                                        попытке открыть страницу соответствующего сайта.
                                    </li>
                                    <br>
                                    <li><strong class="text-dark">IP-адрес</strong> – уникальный сетевой адрес узла в
                                        компьютерной сети, через который Пользователь получает доступ на сайт.
                                    </li>
                                    <br>
                                    <li><strong class="text-dark">ИСПД</strong> – информационная система персональных
                                        данных.
                                    </li>
                                </ol>
                            </ol>
                            <h3 class="mt-5 mb-3 text-justify heading" id="link_3"> 3. Правовые основания обработки персональных
                                данных</h3>
                            <ol class="text-justify content" style="list-style-type: none">
                                <li><strong class="text-dark">3.1.</strong> Правовыми основаниями обработки
                                    персональных данных Оператором являются:<br><br>
                                    <ul>
                                        <li>Закон Кыргызской Республики от 14 апреля 2008 года № 58 «Об информации
                                            персонального характера»;
                                        </li>
                                        <br>
                                        <li>Пользовательское соглашение, размещенное на сайте Оператора и
                                            принимаемое
                                            Субъектом персональных данных при использовании сайта;
                                        </li>
                                        <br>
                                        <li>Локальные акты Оператора;</li>
                                        <br>
                                        <li>Республиканские законы, иные нормативно-правовые акты в сфере защиты
                                            персональных данных;
                                        </li>
                                        <br>
                                        <li>Согласия Пользователей на обработку их персональных данных, на обработку
                                            персональных данных, разрешенных для распространения.
                                        </li>
                                        <br></ul>
                                </li>
                            </ol>
                            <h3 class="mt-4 mb-3 text-justify heading" id="link_4">4. Цели обработки, категории и перечень обрабатываемых
                                персональных данных, категории субъектов, способы, сроки их обработки</h3>
                            <ol class="text-justify content" style="list-style-type: none">
                                <li><strong class="text-dark">4.1.</strong> Персональные данные
                                    обрабатываются Оператором в следующих целях:
                                </li>
                                <br>
                                <li><strong class="text-dark">4.1.1.</strong> Регистрация на сайте:<br>Категории
                                    обрабатываемых персональных данных: общедоступные персональные
                                    данные, иные персональные данные.<br>Перечень обрабатываемых персональных данных:
                                    адрес электронной почты; сведения о местоположении; тип, версия, язык
                                    операционной
                                    системы, браузера; тип устройства и разрешение его экрана; страницы, открываемые
                                    пользователем; IP-адрес; Хэш-IDПользователя время просмотра web-страницы; URL;
                                    HTTP
                                    referer; User Agent; HTTPCookie;<br>Категории субъектов персональных данных:
                                    пользователи сайта. Способы обработки персональных данных:
                                    автоматизированная;<br>Сроки
                                    обработки и хранения: до достижения целей обработки персональных данных,
                                    либо до момента отзыва согласия;<br>
                                    <br>
                                    <h6 class="content">Порядок уничтожения персональных данных: приведен в разделе 4.2.</h6>
                                </li>
                                <br>
                                <li><strong class="text-dark">4.1.2.</strong> Оформление подписки
                                    на маркетинговую / рекламную рассылку Категории обрабатываемых персональных данных:
                                    <br>Иные
                                    персональные данные. Перечень обрабатываемых персональных данных:
                                    адрес электронной почты. Категории субъектов персональных данных: пользователи
                                    сайта;<br>Способы обработки персональных данных: автоматизированная;<br>Сроки
                                    обработки и хранения: до достижения целей обработки персональных данных,
                                    либо до момента отзыва согласия.<br>
                                    <br>
                                    <h6 class="content">Порядок уничтожения персональных данных: приведен в разделе 4.2.</h6>
                                </li>
                                <br>
                                <li><strong class="text-dark">4.1.3.</strong> Ведение статистики и анализа работы
                                    сайта, в том числе программного обеспечения, размещённого на сайте,
                                    совершенствование
                                    работы сайта, адаптации сайта под пользовательские потребности, предпочтения и
                                    интересы.<br><br>Категории обрабатываемых персональных данных: общедоступные
                                    персональные данные, иные персональные данные.<br><br>Перечень обрабатываемых
                                    персональных
                                    данных: адрес электронной почты; сведения о местоположении; тип, версия, язык
                                    операционной системы, браузера; тип устройства и разрешение его экрана; страницы,
                                    открываемые пользователем; IP-адрес; Хэш-IDПользователя; время просмотра
                                    web-страницы; URL; HTTP referer; User Agent; HTTPCookie.<br><br>Категории
                                    субъектов
                                    персональных данных: пользователи сайта. Способы обработки персональных данных:
                                    автоматизированная.<br><br>Сроки обработки и хранения: до достижения целей
                                    обработки
                                    персональных данных, либо до момента отзыва согласия.<br><br>
                                    <h6 class="content">Порядок уничтожения персональных данных: приведен в разделе 4.2.</h6>
                                </li>
                                <br>
                                <li><strong class="text-dark">4.1.4.</strong> Проведение
                                    маркетинговых/рекламных мероприятий, статистических и аналитических опросов и
                                    исследований.<br><br>Категории обрабатываемых персональных данных: общедоступные
                                    персональные данные, иные персональные данные.<br><br>Перечень обрабатываемых
                                    персональных
                                    данных: адрес электронной почты; сведения о местоположении; тип, версия, язык
                                    операционной системы, браузера; тип устройства и разрешение его экрана; страницы,
                                    открываемые пользователем; IP-адрес; Хэш-IDПользователя; время просмотра
                                    web-страницы; URL; HTTP referer; User Agent; HTTPCookie.<br><br>Категории субъектов
                                    персональных данных: пользователи сайта. Способы обработки персональных данных:
                                    автоматизированная. <br><br>Сроки обработки и хранения: до достижения целей
                                    обработки
                                    персональных данных, либо до момента отзыва согласия.
                                    <br><br>
                                    <h6 class="content">Порядок уничтожения персональных данных: приведен в разделе 4.2.</h6></li>
                                <br>
                                <li><strong class="text-dark">4.1.5.</strong> Осуществление
                                    маркетинговых/рекламных активностей путем мониторинга поведения целевой аудитории,
                                    обогащения данных о ней (включая сегментацию и скоринг) и таргетирования такой
                                    аудитории, в том числе путем демонстрации ей персонализированной и не
                                    персонализированной рекламы.<br><br>Категории обрабатываемых персональных данных:
                                    общедоступные персональные данные, иные персональные данные.<br><br>Перечень
                                    обрабатываемых персональных данных: адрес электронной почты; сведения
                                    о местоположении; тип, версия, язык операционной системы, браузера; тип
                                    устройства
                                    и разрешение его экрана; страницы, открываемые пользователем; IP-адрес;
                                    Хэш-IDПользователя; время просмотра web-страницы; URL; HTTP referer; User Agent;
                                    HTTPCookie.<br><br>Категории субъектов персональных данных: пользователи
                                    сайта.<br><br>Способы
                                    обработки персональных данных: автоматизированная.<br><br>Сроки обработки и
                                    хранения: до
                                    достижения целей обработки персональных данных, либо до момента отзыва
                                    согласия.<br>
                                    <h6 class="content">Порядок уничтожения персональных данных: приведен в разделе 4
                                        .2.</h6>
                                    </li>
                                <br>
                                <li><h5 class="heading">4.2. Уничтожение и порядок уничтожения:<br></h5></li>
                                <br>
                                <li><strong class="text-dark">4.2.1.</strong> Оператор прекращает обработку
                                    персональных данных, уничтожает носители персональных данных и удаляет их из
                                    информационных систем персональных данных в случаях:
                                    <ul><br>
                                        <li>достижения целей обработки
                                            персональных данных или максимальных сроков хранения – в течение 30 дней;
                                        </li>
                                        <br>
                                        <li>утраты необходимости в достижении целей обработки персональных данных – в
                                            течение 30 дней;
                                        </li>
                                        <br>
                                        <li>предоставление субъектом персональных данных или его законным
                                            представителем сведений, подтверждающих, что персональные данные являются
                                            незаконно полученными или не являются необходимыми для заявленной цели обработки – в
                                            течение 7 дней;
                                        </li>
                                        <br>
                                        <li>невозможности обеспечения правомерности обработки персональных данных –
                                            в течение 10 дней;
                                        </li>
                                        <br>
                                        <li>отзыва субъектом персональных данных согласия на обработку его
                                            персональных данных – в течение 30 дней;
                                        </li>
                                        <br>
                                        <li>истечения сроков исковой давности для правоотношений, в рамках которых
                                            осуществляется либо осуществлялась обработка персональных данных.
                                        </li>
                                    </ul>
                                </li>
                                <br>
                                <li><strong class="text-dark">4.2.2.</strong> Оператор не прекращает
                                    обработку персональных данных и не уничтожает их в следующих случаях:
                                    <ul><br>
                                        <li> если иное предусмотрено договором, стороной которого, является субъект персональных данных;
                                        </li>
                                        <br>
                                        <li>
                                            если Оператор вправе осуществлять обработку персональных данных без
                                            согласия субъекта персональных данных на основаниях, предусмотренных
                                            законодательством Кыргызской Республики;
                                        </li>
                                        <br>
                                        <li>если не истекли сроки обработки персональных данных
                                            субъекта персональных данных, установленные законодательством Российской
                                            Федерации.
                                        </li>
                                        <br>
                                        </ul>
                                <li><strong class="text-dark">4.2.3.</strong> Уничтожение персональных
                                    данных, обрабатываемых автоматизированным способом, организует комиссия по
                                    уничтожению
                                    персональных данных из состава работников Оператора, создаваемая приказом.
                                    Персональные данные уничтожаются средствами операционной системы и / или системы
                                    управления базами данных. Документами, подтверждающими уничтожение персональных
                                    данных субъектов персональных данных, обрабатываемых автоматизированным способом,
                                    являются акт об уничтожении персональных данных и выгрузка из журнала регистрации
                                    событий в информационной системе персональных данных.<br><br>
                                <li><strong class="text-dark">4.2.4.</strong> Акт об уничтожении персональных данных
                                    и выгрузка из журнала подлежат хранению в течение 3 лет с момента уничтожения
                                    персональных данных.
                                </li>
                            </ol>
                            <h3 class="mt-5 mb-3 text-justify heading" id="link_5"> 5. Порядок и условия обработки персональных
                                данных</h3>
                            <ol class="text-justify content" style="list-style-type: none">
                                <li><strong class="text-dark">5.1.</strong> Обработка персональных данных
                                    осуществляется Оператором в соответствии с требованиями законодательства
                                    Кыргызской
                                    Республики.<br></li>
                                <br>
                                <li><strong class="text-dark">5.2.</strong> Обработка персональных данных
                                    осуществляется с согласия Субъектов персональных данных на обработку их
                                    персональных данных, а также без такового в случаях, предусмотренных законодательством
                                    Российской Федерации.<br></li>
                                <br>
                                <li><strong class="text-dark">5.2.1.</strong> Оператор обрабатывает персональные
                                    данные Пользователя только в случае их заполнения и / или отправки Пользователем
                                    самостоятельно через специальные формы, расположенные на сайте, или направленные
                                    Оператору посредством электронной почты. Заполняя соответствующие формы и / или
                                    отправляя свои персональные данные Оператору, Пользователь выражает свое согласие
                                    с данной Политикой.<br></li>
                                <br>
                                <li><strong class="text-dark">5.2.2.</strong> Субъект персональных данных
                                    самостоятельно принимает решение о предоставлении его персональных данных и дает
                                    согласие свободно, своей волей и в своем интересе.<br></li>
                                <br>
                                <li><strong class="text-dark">5.3.</strong> Согласие на обработку
                                    персональных данных, разрешенных субъектом персональных данных для распространения, оформляется
                                    отдельно от иных согласий Субъекта персональных данных на обработку его персональных
                                    данных.<br></li>
                                <br>
                                <li><strong class="text-dark">5.4.</strong> Согласие на обработку
                                    персональных данных, разрешенных Субъектом персональных данных для распространения, может быть
                                    предоставлено Оператору:
                                    <ul><br>
                                        <li>непосредственно;<br></li>
                                        <br>
                                        <li>с использованием информационной
                                            системы уполномоченного органа по защите прав субъектов персональных
                                            данных.
                                        </li>
                                    </ul>
                                </li>
                                <br>
                                <li><strong class="text-dark">5.5.</strong> Оператор осуществляет автоматизированную
                                    обработку персональных данных.<br></li>
                                <br>
                                <li><strong class="text-dark">5.6.</strong> К обработке персональных данных
                                    допускаются
                                    работники Оператора, в должностные обязанности которых входит обработка
                                    персональных данных.<br></li>
                                <br>
                                <li><strong class="text-dark">5.7.</strong> Обработка персональных данных
                                    осуществляется
                                    путем:
                                    <ul>
                                        <br>
                                        <li>получения персональных данных в письменной форме непосредственно с
                                            согласия Субъекта персональных данных на обработку или распространение его
                                            персональных данных;
                                        </li>
                                        <br>
                                        <li>внесения персональных данных в журналы, реестры
                                            и информационные системы Оператора;
                                        </li>
                                        <br>
                                        <li>использования иных способов обработки
                                            персональных данных.
                                    </ul>
                                </li>
                                <br>
                                <li><strong class="text-dark">5.8.</strong> Оператор осуществляет следующие действия
                                    с персональными данными: сбор, запись, систематизацию, накопление, хранение,
                                    уточнение (обновление, изменение), извлечение, использование, передачу
                                    (предоставление, доступ), блокирование, удаление, уничтожение.<br></li>
                                <br>
                                <li><strong class="text-dark">5.9.</strong> Персональные данные субъектов
                                    персональных данных, обрабатываемые с использованием средств автоматизации в разных
                                    целях, хранятся в разных папках.<br></li>
                                <br>
                                <li><strong class="text-dark">5.10.</strong> Не допускается хранение и
                                    размещение документов, содержащих Персональные данные, в открытых электронных
                                    каталогах.<br></li>
                                <br>
                                <li><strong class="text-dark">5.11.</strong> Хранение персональных
                                    данных осуществляется в форме, позволяющей определить Субъекта персональных данных не дольше,
                                    чем этого требуют цели обработки персональных данных.<br></li>
                                <br>
                                <li><strong class="text-dark">5.12.</strong> Обработка биометрических персональных
                                    данных и специальных категорий персональных данных, касающихся расовой, национальной
                                    принадлежности, политических взглядов, религиозных или философских убеждений,
                                    состояния здоровья, интимной жизни, на сайте не осуществляется.<br></li>
                                <br>
                                <li><strong class="text-dark">5.13.</strong> Оператор не осуществляет обработку
                                    персональных данных в целях политической агитации.<br></li>
                                <br>
                                <li><strong class="text-dark">5.14.</strong> Оператор не
                                    проверяет достоверность информации, предоставляемой Пользователем, и исходит из
                                    того, что Пользователь предоставляет достоверную и достаточную информацию, контролирует
                                    ее актуальность.<br></li>
                                <br>
                                <li><strong class="text-dark">5.15.</strong> В случае выявления факта
                                    обработки неточных персональных данных или их неправомерной обработки, обеспечивается уточнение
                                    и блокировка персональных данных соответственно.<br></li>
                                <br>
                                <li><strong class="text-dark">5.16.</strong> Оператор
                                    вправе передавать Персональные данные
                                    органам дознания и следствия, иным уполномоченным органам
                                    по основаниям, предусмотренным действующим законодательством Кыргызской Республики.
                                </li>
                            </ol>

                            <h3 class="mt-5 mb-3 text-justify heading" id="link_6">6. Меры по обеспечению конфиденциальности и
                                безопасности персональных данных при их обработке</h3>
                            <ol class="text-justify content" style="list-style-type: none">
                                <li><strong class="text-dark">6.1. </strong>Безопасность персональных данных,
                                    обрабатываемых Оператором, обеспечивается реализацией правовых, организационных,
                                    технических и программных мер, необходимых и достаточных для обеспечения
                                    требований законодательства Кыргызской Республики.
                                </li>
                                <br>
                                <li><strong class="text-dark">6.2. </strong>Оператором предпринимаются следующие
                                    меры для обеспечения безопасности персональных данных:
                                </li>
                                <br>
                                <ul>
                                    <li>о назначение ответственных лиц за организацию обработки и за
                                        обеспечение безопасности персональных данных;
                                    </li>
                                    <br>
                                    <li>определение перечня работников, имеющих доступ к персональным данным;
                                    </li>
                                    <br>
                                    <li>разработка и утверждение
                                        организационно-распорядительных документов, определяющих порядок обработки
                                        персональных данных;
                                    </li>
                                    <br>
                                    <li>определение уровня защищенности персональных данных при
                                        обработке в информационных системах персональных данных;
                                    </li>
                                    <br>
                                    <li>установление правил
                                        разграничения доступа к персональным данным, обрабатываемым в информационных
                                        системах
                                        персональных данных и обеспечение регистрации и учета всех действий,
                                        совершаемых с
                                        персональными данными;
                                    </li>
                                    <br>
                                    <li>ограничение доступа в помещения, где размещены основные
                                        технические средства и системы информационных систем персональных данных;
                                    </li>
                                    <br>
                                    <li>
                                        организация резервирования и восстановления работоспособности
                                        информационных систем персональных данных и персональных данных
                                        модифицированных или
                                        уничтоженных вследствие несанкционированного доступа к ним;
                                    </li>
                                    <br>
                                    <li>установление
                                        требований к сложности паролей для доступа к информационным
                                        системам персональных
                                        данных;
                                    </li>
                                    <br>
                                    <li>осуществление антивирусного контроля, предотвращение внедрения в
                                        корпоративную сеть вредоносных программ (программ-вирусов) и программных
                                        закладок;
                                    </li>
                                    <br>
                                    <li>
                                        организация своевременного обновления программного обеспечения,
                                        используемого
                                        в информационных системах персональных данных и средств защиты
                                        информации;
                                    </li>
                                    <br>
                                    <li>
                                        проведение регулярной оценки эффективности принимаемых мер по
                                        обеспечению безопасности персональных данных;
                                    </li>
                                    <br>
                                    <li>обнаружение фактов
                                        несанкционированного доступа к персональным данным и принятиемер по
                                        установлению
                                        причин и устранению возможных последствий;
                                    </li>
                                    <br>
                                    <li>контроль за принимаемыми мерами по
                                        обеспечению безопасности персональных данных и уровней защищенности
                                        информационных
                                        систем персональных данных.
                                    </li>
                                </ul>
                            </ol>
                            <h3 class="mt-5 mb-3 text-justify heading" id="link_7"> 7. Права и обязанности субъектов персональных
                                данных</h3>
                            <ol class="text-justify content" style="list-style-type: none">
                                <li><strong class="text-dark">7.1.</strong> Пользователь сайта имеет право на
                                    получение
                                    информации, касающейся
                                    обработки его персональных данных, за исключением случаев, предусмотренных
                                    законами, в
                                    том числе содержащей:
                                </li>
                                <br>
                                <ul>
                                    <li>подтверждение факта обработки персональных данных
                                        Оператором;
                                    </li>
                                    <br>
                                    <li>правовые основания и цели обработки персональных данных;</li>
                                    <br>
                                    <li>цели
                                        и применяемые Оператором способы обработки персональных данных;
                                    </li>
                                    <br>
                                    <li>наименование и
                                        место нахождения Оператора, сведения о лицах (за
                                        исключением работников Оператора),
                                        которые имеют доступ к персональным данным или которым могут
                                        быть раскрыты персональные данные на основании договора с Оператором или на
                                        основании федерального закона;
                                    </li>
                                    <br>
                                    <li>обрабатываемые персональные данные, относящиеся к
                                        соответствующему субъекту персональных данных, источник их получения, если
                                        иной
                                        порядок представления таких данных не предусмотрен федеральным законом;
                                    </li>
                                    <br>
                                    <li>сроки
                                        обработки персональных данных, в том числе сроки их хранения;
                                    </li>
                                    <br>
                                    <li>порядок
                                        осуществления субъектом персональных данных прав,
                                        предусмотренных Федеральным законом
                                        «О персональных данных»;
                                    </li>
                                    <br>
                                    <li>информацию об осуществленной или о предполагаемой
                                        трансграничной передаче персональных данных;
                                    </li>
                                    <br>
                                    <li>наименование или фамилию, имя,
                                        отчество и адрес лица, осуществляющего обработку персональных данных по
                                        поручению
                                        Оператора, если обработка поручена или будет поручена такому лицу;
                                    </li>
                                </ul>
                                <br>
                                <li><strong class="text-dark">7.2.</strong> Все вопросы
                                    касательно обработки персональных данных следует задавать
                                    по адресу:s.alexey@bimstandard.xyz.
                                </li>
                            </ol>

                            <h3 class="mt-5 mb-3 heading" id="link_8"> 8. Заключительные положения</h3>
                            <ol class="text-justify content" style="list-style-type: none">
                                <li><strong class="text-dark">8.1.</strong> Политика является общедоступным
                                    документом и подлежит размещению на сайте.
                                </li>
                                <br>
                                <li><strong class="text-dark">8.2.</strong>
                                    Оператор имеет право вносить изменения в настоящую Политику в
                                    одностороннем порядке.
                                </li>
                                <br>
                                <li><strong class="text-dark">8.3.</strong> Контроль исполнения требований настоящей
                                    Политики осуществляется
                                    ответственным за организацию обработки персональных данных.
                                </li>
                                <br>
                                <li><strong class="text-dark">8.4.</strong> Лица, виновные в
                                    нарушении норм, регулирующих обработку и защиту персональных, несут
                                    ответственность в
                                    порядке, определенном законодательством Кыргызской Республики.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>