<div class="col-lg-4 mb-lg-0 mb-md-5 mb-5 mt-md-5 mt-lg-0">
    <ul class="nav flex-column bg-white border-radius-lg p-3 position-sticky top-10 shadow-lg">
        <li class="nav-item">
            <a class="nav-link text-dark d-flex align-items-center" data-scroll=""
               href="#link_1">
                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                User Agreement
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_2">
                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                General Provisions of the User Agreement
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#link_3">
                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                General Terms of Service Usage
            </a>
        </li>
    </ul>
</div>
<div class="col-lg-8">
    <div class="card shadow-lg mb-1">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-azure-crayola shadow-info border-radius-lg p-3">
                <h3 class="text-white mb-0 heading">User Agreement</h3>
                <p class="text-white opacity-8 mb-0 content">Last update: 25 Oct 2023</p>
            </div>
        </div>
        <div class="card-body pt-4">
            <p class="text-justify content">This document, the "User Agreement," constitutes a proposal by LLC
                "BIMSTANDARD" (hereinafter referred to as the "Administration") to enter into an agreement on the terms
                outlined below.</p>
            <h3 class="mt-5 mb-2 heading" id="link_2">General Provisions of the User Agreement</h3>
            <ol style="list-style-type: none" class="pb-0 mb-0">
                <li class="text-justify content"><strong class="text-dark">1.</strong> In this document and in the
                    relations arising from or related to it, the following terms and definitions apply:
                </li>
                <ul>
                    <br>
                    <li class="text-justify content"><strong class="text-dark"></strong> Platform - software and
                        hardware facilities integrated with the Administration's Website;
                    </li>
                    <br>
                    <li class="text-justify content"><strong class="text-dark"></strong> User - a capable natural
                        person who has joined this Agreement in their own interest or acts on behalf of and in the
                        interests of the legal entity they represent;
                    </li>
                    <br>
                    <li class="text-justify content"><strong class="text-dark"></strong> Administration's Website /
                        Website - Internet sites located within the domain or subdomains;
                    </li>
                    <br>
                    <li class="text-justify content"><strong class="text-dark"></strong> Service - a set of services
                        and a license provided to the User using the Platform.
                    </li>
                    <br>
                    <li class="text-justify content"><strong class="text-dark"></strong> Agreement - this agreement
                        with all additions and amendments.
                    </li>
                </ul>
                <br>
                <li class="text-justify content"><strong class="text-dark">2.</strong> Your Use of the Service in any
                    Manner and Form within Its Declared Functionalities, Including:
                </li>
                <br>
                <ul class="text-justify content">
                    <li>Browsing materials posted on the Website;</li>
                    <br>
                    <li>Registration and/or authorization on the Website;</li>
                    <br>
                    <li>Posting or displaying any materials on the Website, including, but not limited to, such
                        materials as: texts, hyperlinks, images, audio and video files, information, and/or other
                        content;
                    </li>
                    <br>
                    <li>
                        creates a contract on the terms of this Agreement in accordance with the relevant provisions
                        of the Civil Code of the Kyrgyz Republic.
                    </li>
                    <br>
                </ul>
                <li class="text-justify content"><strong class="text-dark">3.</strong>
                    By utilizing any of the aforementioned options for using the Service, you confirm that:
                </li>
                <br>
                <ul class="text-justify content">
                    <li>
                        You have familiarized yourself with the terms of this Agreement in full before commencing the
                        use of the Service.
                    </li>
                    <br>
                    <li>
                        You accept all the terms of this Agreement in full, without any exceptions or limitations on
                        your part, and undertake to comply with them or cease the use of the Service. If you do not
                        agree with the terms of this Agreement or do not have the right to enter into a contract based
                        on them, you should immediately cease any use of the Service.
                    </li>
                    <br>
                    <li>
                        The Agreement (including any of its parts) may be amended by the Administration without any
                        special notice. The new version of the Agreement comes into effect from the moment it is posted
                        on the Administration's Website or brought to the attention of the User in another convenient
                        form, unless otherwise provided by the new version of the Agreement.
                    </li>
                    <br>
                </ul>
                <br>
            </ol>
            <h3 class="mt-0 mb-3 heading" id="link_3">General Terms of Service Usage</h3>
            <ul class="text-justify content">
                <li><strong class="text-dark"></strong>
                    The use of the functional features of the Service is only allowed after the User has completed the
                    registration and authorization process on the Website, following the procedures established by the
                    Administration.
                </li><br>
                <li><strong class="text-dark"></strong>
                    Technical, organizational, and commercial conditions for using the Service, including its functional
                    features, are communicated to Users through separate postings on the Website or through user
                    notifications.
                </li><br>
                <li><strong class="text-dark"></strong>
                    The login and password selected by the User are necessary and sufficient information for the User's
                    access to the Website. The User is not allowed to transfer their login and password to third
                    parties, assumes full responsibility for their safety, and independently chooses the method of
                    storing them.
                </li>

            </ul>
        </div>
    </div>
</div>